<div class="tqp-crud-detail animated fadeIn" *ngIf="caseManager">

  <div class="row">
    <div class="col-sm-6">
      <h1>
        <i class="fa fa-folder"></i>
        {{caseManager.caseManagerSurname}}, {{caseManager.caseManagerGivenName}}
      </h1>
    </div>
    <div class="col-sm-6">
      <div class="form-group float-right">
        <button class="btn btn-sm btn-outline-info" (click)="openEditPage()" style="width: 100px">
          <u>E</u>dit
        </button>
        <button class="btn btn-sm btn-outline-primary ml-3" (click)="returnToList()" style="width: 100px">
          Return to <u>L</u>ist
        </button>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6 col-sm-12">

      <div class="card">
        <div class="card-header">
          <i class="fa fa-user"></i>
          Personal Information
          <i *ngIf="caseManagerLoading" class="fa fa-spinner fa-spin"></i>
          <div class="card-header-actions" [hidden]="authService.allowRoles('ROLE_USER, ROLE_ADMIN')">
            <small class="tqp-nav-link" (click)="openEditPage();">Edit Case Manager Info</small>
          </div>
        </div>
        <div class="card-body">
          <dl class="row">
            <dt class="col-sm-3">Last Name:</dt>
            <dd class="col-sm-9">{{caseManager.caseManagerSurname}}</dd>
          </dl>
          <dl class="row">
            <dt class="col-sm-3">First Name:</dt>
            <dd class="col-sm-9">{{caseManager.caseManagerGivenName}}</dd>
          </dl>
        </div>
      </div>

    </div>

    <div class="col-lg-6 col-sm-12">

      <div class="card">
        <div class="card-header">
          <i class="fa fa-graduation-cap"></i>
          Associated Students
        </div>
        <div class="card-body">

          <div class="table-container" style="height: 200px; border: 1px solid rgb(200, 206, 211);">

            <table mat-table [dataSource]="dataSource" *ngIf="dataSource && dataSource.length > 0"
                   matSort matSortActive="lastName" matSortDirection="asc" matSortDisableClear="true"
                   class="table">

              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef>Name</th>
                <td mat-cell *matCellDef="let row">
                  <a [routerLink]="['/students/student-detail', row.personId]">
                    {{row.personGivenName}} {{row.personSurname}}
                  </a>
                </td>
              </ng-container>

              <ng-container matColumnDef="relationship">
                <th mat-header-cell *matHeaderCellDef>Relationship to Student</th>
                <td mat-cell *matCellDef="let row">
                  {{row.relationshipTypeName}}
                </td>
              </ng-container>

              <ng-container matColumnDef="relationshipEffectiveDate">
                <th mat-header-cell *matHeaderCellDef>Assignment Date</th>
                <td mat-cell *matCellDef="let row">
                  {{row.relationshipEffectiveDate}}
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true" [hidden]="false"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

            <div class="no-records" *ngIf="dataSource && dataSource.length <= 0">
              No records to display.
            </div>

          </div>

        </div>
      </div>

    </div>
  </div>

</div>
