<h2 mat-dialog-title>
  Assign a Caregiver
</h2>

<mat-dialog-content style="overflow: hidden">

  <form [formGroup]="studentCaregiverEditForm">

    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <label for="caregiverId">Caregiver*</label>
          <select id="caregiverId" class="form-control" formControlName="caregiverId">
            <option value=0>Select a Caregiver</option>
            <option *ngFor="let caregiver of caregiverList"
                    value="{{caregiver.caregiverId}}">
              {{caregiver.caregiverSurname}}, {{caregiver.caregiverGivenName}}
            </option>
          </select>
          <mat-error *ngFor="let validation of validationMessages.caregiverId">
            <mat-error class="error-message"
                       *ngIf="studentCaregiverEditForm.get('caregiverId').hasError(validation.type)
                                && (studentCaregiverEditForm.get('caregiverId').dirty ||
                                studentCaregiverEditForm.get('caregiverId').touched)">
              {{validation.message}}
            </mat-error>
          </mat-error>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <label for="tierTypeId">Support Tier*</label>
          <select id="tierTypeId" class="form-control" formControlName="tierTypeId">
            <option value="">Select a Support Tier</option>
            <option *ngFor="let tierType of tierTypeList"
                    value="{{tierType.tierTypeId}}">
              {{tierType.tierTypeName}}
            </option>
          </select>
          <mat-error *ngFor="let validation of validationMessages.tierTypeId">
            <mat-error class="error-message"
                       *ngIf="studentCaregiverEditForm.get('tierTypeId').hasError(validation.type)
                                && (studentCaregiverEditForm.get('tierTypeId').dirty ||
                                studentCaregiverEditForm.get('tierTypeId').touched)">
              {{validation.message}}
            </mat-error>
          </mat-error>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <label for="relationshipStartDate">Effective Date*</label>
          <input id="relationshipStartDate" type="text" class="form-control" bsDatepicker
                 formControlName="relationshipStartDate">
          <mat-error *ngFor="let validation of validationMessages.relationshipStartDate">
            <mat-error class="error-message"
                       *ngIf="studentCaregiverEditForm.get('relationshipStartDate').hasError(validation.type)
                                && (studentCaregiverEditForm.get('relationshipStartDate').dirty ||
                                studentCaregiverEditForm.get('relationshipStartDate').touched)">
              {{validation.message}}
            </mat-error>
          </mat-error>
        </div>
      </div>
    </div>

  </form>

</mat-dialog-content>

<mat-dialog-actions>
  <button mat-raised-button mat-dialog-close>Cancel</button>
  <button mat-raised-button (click)="reset();">Reset</button>
  <div fxFlex></div>
  <button mat-raised-button mat-dialog-close color="primary" (click)="save();" [disabled]="!studentCaregiverEditForm.valid">
    Save
  </button>
</mat-dialog-actions>
