<h2 mat-dialog-title *ngIf="data.action == 'update'; else create;">Edit Caregiver Assignment</h2>
<ng-template #create>
  <h2 mat-dialog-title>Assign a Caregiver</h2>
</ng-template>

<mat-dialog-content style="overflow: hidden">

  <form [formGroup]="studentCaregiverEditForm" [hidden]="!dataLoaded">

    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <label for="relationshipId">Student-Caregiver ID</label>
          <input id="relationshipId" type="text" class="form-control" formControlName="relationshipId">
          <mat-error *ngFor="let validation of validationMessages.relationshipId">
            <mat-error class="error-message"
                       *ngIf="studentCaregiverEditForm.get('relationshipId').hasError(validation.type)
                                && (studentCaregiverEditForm.get('relationshipId').dirty ||
                                studentCaregiverEditForm.get('relationshipId').touched)">
              {{validation.message}}
            </mat-error>
          </mat-error>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <label for="caregiverId">Caregiver*</label>
          <select id="caregiverId" class="form-control" formControlName="caregiverId">
            <option value=0>Select a Caregiver</option>
            <option *ngFor="let caregiver of caregiverList"
                    value="{{caregiver.caregiverId}}">
              {{caregiver.caregiverSurname}}, {{caregiver.caregiverGivenName}}
            </option>
          </select>
          <mat-error *ngFor="let validation of validationMessages.caregiverId">
            <mat-error class="error-message"
                       *ngIf="studentCaregiverEditForm.get('caregiverId').hasError(validation.type)
                                && (studentCaregiverEditForm.get('caregiverId').dirty ||
                                studentCaregiverEditForm.get('caregiverId').touched)">
              {{validation.message}}
            </mat-error>
          </mat-error>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <label for="relationshipStartDate">Effective Date*</label>
          <input id="relationshipStartDate" type="text" class="form-control" bsDatepicker
                 formControlName="relationshipStartDate">
          <mat-error *ngFor="let validation of validationMessages.relationshipStartDate">
            <mat-error class="error-message"
                       *ngIf="studentCaregiverEditForm.get('relationshipStartDate').hasError(validation.type)
                                && (studentCaregiverEditForm.get('relationshipStartDate').dirty ||
                                studentCaregiverEditForm.get('relationshipStartDate').touched)">
              {{validation.message}}
            </mat-error>
          </mat-error>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <label for="tierTypeId">Support Tier*</label>
          <select id="tierTypeId" class="form-control" formControlName="tierTypeId">
            <option value=0>Select a Support Tier</option>
            <option *ngFor="let tierType of tierTypeList"
                    value="{{tierType.tierTypeId}}">
              {{tierType.tierTypeName}}
            </option>
          </select>
          <mat-error *ngFor="let validation of validationMessages.tierTypeId">
            <mat-error class="error-message"
                       *ngIf="studentCaregiverEditForm.get('tierTypeId').hasError(validation.type)
                                && (studentCaregiverEditForm.get('tierTypeId').dirty ||
                                studentCaregiverEditForm.get('tierTypeId').touched)">
              {{validation.message}}
            </mat-error>
          </mat-error>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <label for="relationshipTypeId">Family Relationship*</label>
          <select id="relationshipTypeId" class="form-control" formControlName="relationshipTypeId">
            <option value=0>Select a Family Relationship</option>
            <option *ngFor="let relationshipType of relationshipTypeList"
                    value="{{relationshipType.relationshipTypeId}}">
              {{relationshipType.relationshipTypeName}}
            </option>
          </select>
          <mat-error *ngFor="let validation of validationMessages.relationshipTypeId">
            <mat-error class="error-message"
                       *ngIf="studentCaregiverEditForm.get('relationshipTypeId').hasError(validation.type)
                                && (studentCaregiverEditForm.get('relationshipTypeId').dirty ||
                                studentCaregiverEditForm.get('relationshipTypeId').touched)">
              {{validation.message}}
            </mat-error>
          </mat-error>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <label for="relationshipFamilyOfOriginTypeId">Is the placement the family of origin?*</label>
          <select id="relationshipFamilyOfOriginTypeId" class="form-control"
                  formControlName="relationshipFamilyOfOriginTypeId">
            <option value=0>Select a Response</option>
            <option value=1>No</option>
            <option value=2>Yes</option>
          </select>
          <mat-error *ngFor="let validation of validationMessages.relationshipFamilyOfOriginTypeId">
            <mat-error class="error-message"
                       *ngIf="studentCaregiverEditForm.get('relationshipFamilyOfOriginTypeId').hasError(validation.type)
                                && (studentCaregiverEditForm.get('relationshipFamilyOfOriginTypeId').dirty ||
                                studentCaregiverEditForm.get('relationshipFamilyOfOriginTypeId').touched)">
              {{validation.message}}
            </mat-error>
          </mat-error>
        </div>
      </div>
    </div>

  </form>

  <mat-card class="spinner-container" *ngIf="!dataLoaded">
    <mat-progress-spinner
      color="primary"
      mode="indeterminate">
    </mat-progress-spinner>
  </mat-card>

</mat-dialog-content>

<mat-dialog-actions>
  <button mat-raised-button class="btn btn-danger" (click)="delete();" *ngIf="data.action == 'update'">
    Delete
  </button>
  <button mat-raised-button mat-dialog-close>Cancel</button>
  <div fxFlex></div>
  <button mat-raised-button mat-dialog-close class="btn btn-primary" (click)="save();"
          [disabled]="!studentCaregiverEditForm.valid">Save
  </button>
</mat-dialog-actions>
