<div class="tqp-crud-detail animated fadeIn" *ngIf="caregiver">

  <div class="row">
    <div class="col-sm-6">
      <h1>
        <i class="fa fa-heartbeat"></i>
        {{caregiver.caregiverGivenName}} {{caregiver.caregiverSurname}}
      </h1>
    </div>
    <div class="col-sm-6">
      <div class="form-group float-right">
        <button class="btn btn-sm btn-outline-primary ml-3" (click)="returnToList()">
          Go To Caregiver <u>L</u>ist
        </button>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6 col-sm-12">

      <div class="card">
        <div class="card-header">
          <i class="fa fa-user"></i>
          Personal Information
          <i *ngIf="caregiverLoading" class="fa fa-spinner fa-spin"></i>
          <div class="card-header-actions"
               [hidden]="authService.allowRoles('ROLE_EDIT, ROLE_ADMIN', 'Edit Caregiver Info')">
            <small class="tqp-nav-link" (click)="openEditPage();">Edit Caregiver Info</small>
          </div>
        </div>
        <div class="card-body">
          <dl class="row">
            <dt class="col-sm-4">First Name:</dt>
            <dd class="col-sm-8">{{caregiver.caregiverGivenName}}</dd>
          </dl>
          <dl class="row">
            <dt class="col-sm-4">Last Name:</dt>
            <dd class="col-sm-8">{{caregiver.caregiverSurname}}</dd>
          </dl>
          <dl class="row">
            <dt class="col-sm-4">Address:</dt>
            <dd class="col-sm-8">{{caregiver.caregiverAddress}}</dd>
          </dl>
          <dl class="row">
            <dt class="col-sm-4">Primary Phone:</dt>
            <dd class="col-sm-8">{{caregiver.caregiverPhone}}</dd>
          </dl>
          <dl class="row">
            <dt class="col-sm-4">Email Address:</dt>
            <dd class="col-sm-8">{{caregiver.caregiverEmail}}</dd>
          </dl>
        </div>
      </div>

    </div>

    <div class="col-lg-6 col-sm-12">

      <div class="card">
        <div class="card-header">
          <i class="fa fa-graduation-cap"></i>
          Associated Students<span class="badge badge-secondary ml-2">{{studentListDataSource.length}}</span>
        </div>
        <div class="card-body">

          <div class="table-container" style="height: 200px; border: 1px solid rgb(200, 206, 211);">

            <table mat-table [dataSource]="studentListDataSource"
                   *ngIf="studentListDataSource && studentListDataSource.length > 0"
                   matSort matSortActive="lastName" matSortDirection="asc" matSortDisableClear="true"
                   class="table">

              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef>Name</th>
                <td mat-cell *matCellDef="let row">
                  <a [routerLink]="['/students/student-detail', row.studentId]">
                    {{row.studentGivenName}} {{row.studentSurname}}
                  </a>
                </td>
              </ng-container>

              <ng-container matColumnDef="relationshipTierTypeName">
                <th mat-header-cell *matHeaderCellDef>Tier Level</th>
                <td mat-cell *matCellDef="let row">
                  {{row.relationshipTierTypeName}}
                </td>
              </ng-container>

              <ng-container matColumnDef="relationshipStartDate">
                <th mat-header-cell *matHeaderCellDef>Assignment Date</th>
                <td mat-cell *matCellDef="let row">
                  {{row.relationshipStartDate | date: 'dd-MMM-yyyy'}}
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="studentListDisplayedColumns; sticky: true" [hidden]="false"></tr>
              <tr mat-row *matRowDef="let row; columns: studentListDisplayedColumns;"></tr>
            </table>

            <div class="no-records" *ngIf="studentListDataSource && studentListDataSource.length <= 0">
              No records to display.
            </div>

          </div>

        </div>
      </div>

      <div class="card">
        <div class="card-header">
          <i class="fa fa-bank"></i>
          Loans<span class="badge badge-secondary ml-2">{{loanListDataSource.length}}</span>
        </div>
        <div class="card-body">

          <div class="table-container" style="height: 200px; border: 1px solid rgb(200, 206, 211);">

            <table mat-table [dataSource]="loanListDataSource"
                   *ngIf="loanListDataSource && loanListDataSource.length > 0"
                   matSort matSortActive="lastName" matSortDirection="asc" matSortDisableClear="true"
                   class="table">

              <ng-container matColumnDef="loanId">
                <th mat-header-cell *matHeaderCellDef>Loan ID</th>
                <td mat-cell *matCellDef="let row">
                  <a [routerLink]="['/loans/loan-detail', row.loanId]">
                    {{('00000' + row.loanId).slice(-5)}}
                  </a>
                </td>
              </ng-container>

              <ng-container matColumnDef="loanAmount">
                <th mat-header-cell *matHeaderCellDef>Loan Amount</th>
                <td mat-cell *matCellDef="let row">
                  {{row.loanAmount | currency: 'Le'}}
                </td>
              </ng-container>

              <ng-container matColumnDef="amountPaid">
                <th mat-header-cell *matHeaderCellDef>Total Paid</th>
                <td mat-cell *matCellDef="let row">
                  {{row.amountPaid | currency: 'Le'}}
                </td>
              </ng-container>

              <ng-container matColumnDef="percentPaid">
                <th mat-header-cell *matHeaderCellDef>Percent Paid</th>
                <td mat-cell *matCellDef="let row">
                  {{(row.amountPaid / row.loanAmount) | percent:'1.2-2'}}
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="loanListDisplayedColumns; sticky: true" [hidden]="false"></tr>
              <tr mat-row *matRowDef="let row; columns: loanListDisplayedColumns;"></tr>
            </table>

            <div class="no-records" *ngIf="loanListDataSource && loanListDataSource.length <= 0">
              No records to display.
            </div>

          </div>

        </div>
      </div>

      <div class="card">
        <div class="card-header">
          <i class="fa fa-ticket"></i>
          Workshops Attended<span class="badge badge-secondary ml-2">{{workshopListDataSource.length}}</span>
          <div class="card-header-actions"
               [hidden]="authService.allowRoles('ROLE_EDIT, ROLE_ADMIN', 'Add Caregiver-Workshop')">
            <small class="tqp-nav-link" (click)="openCaregiverWorkshopCreateDialog(this.caregiver.caregiverId, null);">Add Workshop</small>
          </div>
        </div>
        <div class="card-body">

          <div class="table-container" style="height: 200px; border: 1px solid rgb(200, 206, 211);">

            <table mat-table [dataSource]="workshopListDataSource"
                   *ngIf="workshopListDataSource && workshopListDataSource.length > 0"
                   matSort matSortActive="lastName" matSortDirection="asc" matSortDisableClear="true"
                   class="table">

              <ng-container matColumnDef="caregiverWorkshopId">
                <th mat-header-cell *matHeaderCellDef>ID</th>
                <td mat-cell *matCellDef="let row">
                  {{row.caregiverWorkshopId}}
                </td>
              </ng-container>

              <ng-container matColumnDef="workshopName">
                <th mat-header-cell *matHeaderCellDef>Workshop Name</th>
                <td mat-cell *matCellDef="let row">
                  {{row.workshopName}}
                </td>
              </ng-container>

              <ng-container matColumnDef="workshopDate">
                <th mat-header-cell *matHeaderCellDef>Workshop Date</th>
                <td mat-cell *matCellDef="let row">
                  {{row.workshopDate | date: 'dd-MMM-yyyy'}}
                </td>
              </ng-container>

              <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let row" [hidden]="authService.allowRoles('ROLE_EDIT, ROLE_ADMIN', 'Edit Caregiver-Workshop')">
                  <i class="fa fa-edit" (click)="openCaregiverWorkshopCreateDialog(this.caregiver.caregiverId, row.caregiverWorkshopId)" style="cursor: pointer;"></i>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="workshopListDisplayedColumns; sticky: true" [hidden]="false"></tr>
              <tr mat-row *matRowDef="let row; columns: workshopListDisplayedColumns;"></tr>
            </table>

            <div class="no-records" *ngIf="workshopListDataSource && workshopListDataSource.length <= 0">
              No records to display.
            </div>

          </div>

        </div>
      </div>

    </div>
  </div>

</div>
