<h2 mat-dialog-title *ngIf="data.action == 'update'; else create;">Edit Sponsor Letter</h2>
<ng-template #create>
  <h2 mat-dialog-title>Add Sponsor Letter</h2>
</ng-template>

<mat-dialog-content style="overflow: auto">

  <form [formGroup]="sponsorLetterEditForm" [hidden]="!dataLoaded">

    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <label for="sponsorLetterId">Sponsor Letter ID</label>
          <input id="sponsorLetterId" type="text" class="form-control" formControlName="sponsorLetterId">
          <mat-error *ngFor="let validation of validationMessages.sponsorLetterId">
            <mat-error class="error-message"
                       *ngIf="sponsorLetterEditForm.get('sponsorLetterId').hasError(validation.type)
                                && (sponsorLetterEditForm.get('sponsorLetterId').dirty ||
                                sponsorLetterEditForm.get('sponsorLetterId').touched)">
              {{validation.message}}
            </mat-error>
          </mat-error>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <label for="studentId">Student ID</label>
          <input id="studentId" type="text" class="form-control" formControlName="studentId">
          <mat-error *ngFor="let validation of validationMessages.studentId">
            <mat-error class="error-message"
                       *ngIf="sponsorLetterEditForm.get('studentId').hasError(validation.type)
                                && (sponsorLetterEditForm.get('studentId').dirty ||
                                sponsorLetterEditForm.get('studentId').touched)">
              {{validation.message}}
            </mat-error>
          </mat-error>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <label for="sponsorId">Sponsor ID</label>
          <input id="sponsorId" type="text" class="form-control" formControlName="sponsorId">
          <mat-error *ngFor="let validation of validationMessages.sponsorId">
            <mat-error class="error-message"
                       *ngIf="sponsorLetterEditForm.get('sponsorId').hasError(validation.type)
                                && (sponsorLetterEditForm.get('sponsorId').dirty ||
                                sponsorLetterEditForm.get('sponsorId').touched)">
              {{validation.message}}
            </mat-error>
          </mat-error>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <label for="sponsorIdDropdown">Sponsor Drop-Down</label>
          <select id="sponsorIdDropdown" class="form-control" formControlName="sponsorIdDropdown">
            <option value=0>Select a Sponsor</option>
            <option *ngFor="let sponsor of sponsorList"
                    value="{{sponsor.sponsorId}}">
              {{sponsor.sponsorGivenName}} {{sponsor.sponsorSurname}}
            </option>
          </select>
          <mat-error *ngFor="let validation of validationMessages.sponsorId">
            <mat-error class="error-message"
                       *ngIf="sponsorLetterEditForm.get('sponsorIdDropdown').hasError(validation.type)
                                && (sponsorLetterEditForm.get('sponsorIdDropdown').dirty ||
                                sponsorLetterEditForm.get('sponsorIdDropdown').touched)">
              {{validation.message}}
            </mat-error>
          </mat-error>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <label for="studentIdDropdown">Student Drop-Down</label>
          <select id="studentIdDropdown" class="form-control" formControlName="studentIdDropdown">
            <option value=0>Select a Student</option>
            <option *ngFor="let student of studentList"
                    value="{{student.studentId}}">
              {{student.studentGivenName}} {{student.studentSurname}}
            </option>
          </select>
          <mat-error *ngFor="let validation of validationMessages.sponsorId">
            <mat-error class="error-message"
                       *ngIf="sponsorLetterEditForm.get('studentIdDropdown').hasError(validation.type)
                                && (sponsorLetterEditForm.get('studentIdDropdown').dirty ||
                                sponsorLetterEditForm.get('studentIdDropdown').touched)">
              {{validation.message}}
            </mat-error>
          </mat-error>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <label for="sponsorLetterDate">Letter Date*</label>
          <input id="sponsorLetterDate" type="text" class="form-control" bsDatepicker
                 [bsConfig]="{dateInputFormat: 'DD-MMM-YYYY'}"
                 formControlName="sponsorLetterDate">
          <mat-error *ngFor="let validation of validationMessages.sponsorLetterDate">
            <mat-error class="error-message"
                       *ngIf="sponsorLetterEditForm.get('sponsorLetterDate').hasError(validation.type)
                                && (sponsorLetterEditForm.get('sponsorLetterDate').dirty ||
                                sponsorLetterEditForm.get('sponsorLetterDate').touched)">
              {{validation.message}}
            </mat-error>
          </mat-error>
        </div>
      </div>
    </div>

  </form>

  <mat-card class="spinner-container" *ngIf="!dataLoaded">
    <mat-progress-spinner
      color="primary"
      mode="indeterminate">
    </mat-progress-spinner>
  </mat-card>

</mat-dialog-content>

<mat-dialog-actions>
  <button mat-raised-button class="btn btn-danger" (click)="delete();" *ngIf="data.action == 'update'">
    Delete
  </button>
  <button mat-raised-button mat-dialog-close>Cancel</button>
  <div fxFlex></div>
  <button mat-raised-button mat-dialog-close class="btn btn-primary" (click)="save();"
          [disabled]="!sponsorLetterEditForm.valid">Save
  </button>
</mat-dialog-actions>
