<h2 mat-dialog-title>
  Update Status
</h2>

<mat-dialog-content style="overflow: hidden">

  <form [formGroup]="studentStatusEditForm">

    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <label for="statusId">Select New Status*</label>
          <select id="statusId" class="form-control" formControlName="statusId">
            <option value=0>Select a Status</option>
            <option *ngFor="let status of statusList" value="{{status.statusId}}">
              {{status.statusName}}
            </option>
          </select>
          <mat-error *ngFor="let validation of validationMessages.statusId">
            <mat-error class="error-message"
                       *ngIf="studentStatusEditForm.get('statusId').hasError(validation.type)
                                && (studentStatusEditForm.get('statusId').dirty ||
                                studentStatusEditForm.get('statusId').touched)">
              {{validation.message}}
            </mat-error>
          </mat-error>
        </div>
      </div>
    </div>

  </form>

</mat-dialog-content>

<mat-dialog-actions>
  <button mat-raised-button mat-dialog-close>Cancel</button>
  <button mat-raised-button (click)="reset();">Reset</button>
  <div fxFlex></div>
  <button mat-raised-button mat-dialog-close color="primary" (click)="save();"
          [disabled]="!studentStatusEditForm.valid">
    Save
  </button>
</mat-dialog-actions>
