<div class="tqp-crud-detail animated fadeIn" *ngIf="sponsor">

  <div class="row">
    <div class="col-sm-6">
      <h1>
        <i class="fa fa-handshake-o"></i>
        {{sponsor.sponsorGivenName}} {{sponsor.sponsorSurname}}
      </h1>
    </div>
    <div class="col-sm-6">
      <div class="form-group float-right">
        <button class="btn btn-sm btn-outline-primary ml-3" (click)="returnToList()">
          Go To Sponsor <u>L</u>ist
        </button>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6 col-sm-12">

      <div class="card">
        <div class="card-header">
          <i class="fa fa-info-circle"></i>
          Personal Information
          <i *ngIf="sponsorLoading" class="fa fa-spinner fa-spin"></i>
          <div class="card-header-actions"
               [hidden]="authService.hiddenBasedOnRoles('ROLE_ADMIN', 'Edit Sponsor Info')">
            <small class="tqp-nav-link" (click)="openEditPage();">Edit Sponsor Info</small>
          </div>
        </div>
        <div class="card-body">
          <dl class="row">
            <dt class="col-sm-4">First Name:</dt>
            <dd class="col-sm-8">{{sponsor.sponsorGivenName}}</dd>
          </dl>
          <dl class="row">
            <dt class="col-sm-4">Last Name:</dt>
            <dd class="col-sm-8">{{sponsor.sponsorSurname}}</dd>
          </dl>
          <dl class="row">
            <dt class="col-sm-4">Affiliated Church:</dt>
            <dd class="col-sm-8">{{sponsor.sponsorAffiliatedChurch}}</dd>
          </dl>
        </div>
      </div>

    </div>

    <div class="col-lg-6 col-sm-12">

      <div class="card tqp-crud-detail-list">
        <div class="card-header" (click)="studentListIsCollapsed = !studentListIsCollapsed">
          Associated Students<span class="badge badge-secondary ml-2">{{studentListDataSource.length}}</span>
          <div class="card-header-actions">
            <i class="fa fa-bars" [@rotateIcon]="studentListIsCollapsed ? 'default' : 'rotated'"></i>
          </div>
        </div>
        <div class="card-body" [collapse]="studentListIsCollapsed">
          <div class="table-container">

            <table mat-table class="table table-sm" [dataSource]="studentListDataSource"
                   *ngIf="studentListDataSource && studentListDataSource.length > 0">

              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef>Student Name</th>
                <td mat-cell *matCellDef="let row">
                  <a [routerLink]="['/students/student-detail', row.studentId]">
                    {{row.studentGivenName}} {{row.studentSurname}}
                  </a>
                </td>
              </ng-container>

              <ng-container matColumnDef="relationshipStartDate">
                <th mat-header-cell *matHeaderCellDef>Assignment Date</th>
                <td mat-cell *matCellDef="let row">
                  {{row.relationshipStartDate | date: 'dd-MMM-yyyy'}}
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="studentListDisplayedColumns; sticky: true" [hidden]="true"></tr>
              <tr mat-row *matRowDef="let row; columns: studentListDisplayedColumns;"></tr>
            </table>

            <div class="no-records" *ngIf="studentListDataSource && studentListDataSource.length <= 0">
              No Records Found
            </div>

          </div>

        </div>
      </div>

      <div class="card tqp-crud-detail-list">
        <div class="card-header" (click)="sponsorLetterListIsCollapsed = !sponsorLetterListIsCollapsed">
          Letters from Students<span class="badge badge-secondary ml-2">{{sponsorLetterListDataSource.length}}</span>
          <div class="card-header-actions">
            <i class="fa fa-bars" [@rotateIcon]="sponsorLetterListIsCollapsed ? 'default' : 'rotated'"></i>
          </div>
        </div>
        <div class="card-body" [collapse]="sponsorLetterListIsCollapsed">
          <div class="table-container">

            <table mat-table class="table table-sm" [dataSource]="sponsorLetterListDataSource"
                   *ngIf="sponsorLetterListDataSource && sponsorLetterListDataSource.length > 0">

              <ng-container matColumnDef="studentSponsorLetterDate">
                <th mat-header-cell *matHeaderCellDef>Date of Letter</th>
                <td mat-cell *matCellDef="let row">
                  <a
                    [routerLink]="['/student-sponsor-letter/student-sponsor-letter-detail', row.studentSponsorLetterId]">
                    {{row.studentSponsorLetterDate | date: 'dd-MMM-yyyy'}}
                  </a>
                </td>
              </ng-container>

              <ng-container matColumnDef="studentName">
                <th mat-header-cell *matHeaderCellDef>Student</th>
                <td mat-cell *matCellDef="let row">
                  <a [routerLink]="['/students/student-detail', row.studentId]">
                    {{row.studentGivenName}} {{row.studentSurname}}
                  </a>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="sponsorLetterListDisplayedColumns; sticky: true" [hidden]="true"></tr>
              <tr mat-row *matRowDef="let row; columns: sponsorLetterListDisplayedColumns;"></tr>
            </table>

            <div class="no-records" *ngIf="sponsorLetterListDataSource && sponsorLetterListDataSource.length <= 0">
              No Records Found
            </div>

          </div>

        </div>
      </div>

    </div>
  </div>

</div>
