<div class="tqp-crud-detail animated fadeIn" *ngIf="visit">

  <div class="row">
    <div class="col-sm-6">
      <h1>
        <i class="fa fa-calendar-check-o"></i>
        {{visit.studentGivenName}} {{visit.studentSurname}} Visit
      </h1>
    </div>
    <div class="col-sm-6">
      <div class="form-group float-right">
        <button class="btn btn-sm btn-outline-primary ml-3" (click)="returnToList()">
          Go To Visit <u>L</u>ist
        </button>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6 col-sm-12">

      <div class="card">
        <div class="card-header">
          <i class="fa fa-calendar-check-o"></i>
          Student Visit Information
          <i *ngIf="visitLoading" class="fa fa-spinner fa-spin"></i>
          <div class="card-header-actions"
               [hidden]="authService.hiddenBasedOnRoles('ROLE_EDIT, ROLE_ADMIN', 'Edit Student Visit')">
            <small class="tqp-nav-link" (click)="openEditPage();">Edit Student Visit</small>
          </div>
        </div>
        <div class="card-body">
          <dl class="row">
            <dt class="col-sm-4">Student:</dt>
            <dd class="col-sm-8">
              <span class="tqp-nav-link" [routerLink]="['/students/student-detail', visit.studentId]">
                {{visit.studentGivenName}} {{visit.studentSurname}}
              </span>
            </dd>
          </dl>
          <dl class="row">
            <dt class="col-sm-4">Visit Date:</dt>
            <dd class="col-sm-8">{{visit.visitDate | date:'dd-MMM-yyyy'}}</dd>
          </dl>
          <dl class="row">
            <dt class="col-sm-4">Case Manager:</dt>
            <dd class="col-sm-8">{{visit.caseManagerGivenName}} {{visit.caseManagerSurname}}</dd>
          </dl>
          <dl class="row">
            <dt class="col-sm-4">Visit Type:</dt>
            <dd class="col-sm-8">{{visit.visitTypeName}}</dd>
          </dl>
          <dl class="row">
            <dt class="col-sm-4">Interaction Type:</dt>
            <dd class="col-sm-8">{{visit.interactionTypeName}}</dd>
          </dl>
          <dl class="row">
            <dt class="col-sm-4">Caregiver/Teacher:</dt>
            <dd class="col-sm-8">{{visit.caregiverComments}}</dd>
          </dl>
          <dl class="row">
            <dt class="col-sm-4">Case Manager:</dt>
            <dd class="col-sm-8">{{visit.caseManagerComments}}</dd>
          </dl>
        </div>
      </div>

    </div>

    <div class="col-lg-6 col-sm-12">
    </div>
  </div>

</div>
