<div class="tqp-crud-detail-edit animated fadeIn" *ngIf="csi">

  <form [formGroup]="csiEditForm">

    <div class="row">

      <div class="col-sm-6">
        <h1 *ngIf="csi && newRecord && csiEditForm.controls['csiId'].value == ''; else notShow">
          New CSI Record
        </h1>
        <ng-template #notShow>
          <h1>
            <i class="fa fa-pencil-square-o"></i>
            {{csi.studentGivenName}} {{csi.studentSurname}} CSI
            on {{csiEditForm.controls['csiDate'].value | date: 'MM/dd/yyyy'}}
          </h1>
        </ng-template>
      </div>

    </div>

    <div class="row">
      <div class="col-lg-6 col-sm-12">

        <div class="card">
          <div class="card-header">
            <i class="fa fa-pencil-square-o"></i>
            CSI Details
          </div>
          <div class="card-body">

            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="csiId">CSI ID*</label>
                  <input id="csiId" type="text" class="form-control" formControlName="csiId">
                  <mat-error *ngFor="let validation of validationMessages.csiId">
                    <mat-error class="error-message"
                               *ngIf="csiEditForm.get('csiId').hasError(validation.type)
                                && (csiEditForm.get('csiId').dirty ||
                                csiEditForm.get('csiId').touched)">
                      {{validation.message}}
                    </mat-error>
                  </mat-error>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="studentId">Student*</label>
                  <select id="studentId" class="form-control" formControlName="studentId">
                    <option value=0>Select a Student</option>
                    <option *ngFor="let student of studentList"
                            value="{{student.studentId}}">
                      {{student.studentGivenName}} {{student.studentSurname}}
                    </option>
                  </select>
                  <mat-error *ngFor="let validation of validationMessages.studentId">
                    <mat-error class="error-message"
                               *ngIf="csiEditForm.get('studentId').hasError(validation.type)
                                && (csiEditForm.get('studentId').dirty ||
                                csiEditForm.get('studentId').touched)">
                      {{validation.message}}
                    </mat-error>
                  </mat-error>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="caseManagerId">Case Manager*</label>
                  <select id="caseManagerId" class="form-control" formControlName="caseManagerId">
                    <option value=0>Select a Case Manager</option>
                    <option *ngFor="let caseManager of caseManagerList"
                            value="{{caseManager.caseManagerId}}">
                      {{caseManager.caseManagerGivenName}} {{caseManager.caseManagerSurname}}
                    </option>
                  </select>
                  <mat-error *ngFor="let validation of validationMessages.caseManagerId">
                    <mat-error class="error-message"
                               *ngIf="csiEditForm.get('caseManagerId').hasError(validation.type)
                                && (csiEditForm.get('caseManagerId').dirty ||
                                csiEditForm.get('caseManagerId').touched)">
                      {{validation.message}}
                    </mat-error>
                  </mat-error>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="csiDate">CSI Date*<small class="ml-2">(MM/DD/YYYY)</small></label>
                  <input id="csiDate" type="text" class="form-control" bsDatepicker
                         formControlName="csiDate">
                  <mat-error *ngFor="let validation of validationMessages.csiDate">
                    <mat-error class="error-message"
                               *ngIf="csiEditForm.get('csiDate').hasError(validation.type)
                                && (csiEditForm.get('csiDate').dirty ||
                                csiEditForm.get('csiDate').touched)">
                      {{validation.message}}
                    </mat-error>
                  </mat-error>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label>CSI Services Provided</label>
                  <div class="col-md-9 col-form-label checkbox-area-container">

                    <label formArrayName="csiServicesProvidedCheckboxes" class="checkbox-label"
                           *ngFor="let checkbox of checkboxFormArray.controls; let i = index">
                      <input type="checkbox" [formControlName]="i"
                             (change)="onCsiServicesProvidedCheckboxChange($event)"/>
                      {{servicesProvidedTypeList[i].servicesProvidedTypeName}}
                      ({{('000' + servicesProvidedTypeList[i].servicesProvidedTypeId).slice(-3)}})
                    </label>

                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="csiComments">Suggestions & Recommendations*</label>
                  <textarea id="csiComments" rows="9" class="form-control"
                            placeholder="Recommendations"
                            formControlName="csiComments"></textarea>
                  <mat-error *ngFor="let validation of validationMessages.csiComments">
                    <mat-error class="error-message"
                               *ngIf="csiEditForm.get('csiComments').hasError(validation.type)
                                && (csiEditForm.get('csiComments').dirty ||
                                csiEditForm.get('csiComments').touched)">
                      {{validation.message}}
                    </mat-error>
                  </mat-error>
                </div>
              </div>
            </div>

          </div>

          <div class="card-footer">
            <button type="button" class="btn btn-primary float-right" (click)="save()"
                    [disabled]="!csiEditForm.valid">
              <i class="fa fa-save mr-2"></i>Save
            </button>
            <button type="button" class="btn btn-secondary" (click)="cancel()">
              <i class="fa fa-ban mr-2"></i>Cancel
            </button>
            <button type="button" class="btn btn-danger" (click)="delete(csi.csiId)">
              <i class="fa fa-trash-o mr-2"></i>Delete
            </button>
            <button type="button" class="btn btn-danger" (click)="test()">
              Test
            </button>
          </div>

        </div>

      </div>

      <div class="col-lg-6 col-sm-12">


        <div class="card">
          <div class="card-header">
            <i class="fa fa-pencil-square-o"></i>
            CSI Scores
          </div>
          <div class="card-body">

            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="csiScoreFoodSecurity" class="rating-label">Food Security*</label>
                  <mat-button-toggle-group id="csiScoreFoodSecurity" class="tqp-custom-toggle"
                                           formControlName="csiScoreFoodSecurity">
                    <mat-button-toggle value=1 disableRipple>1</mat-button-toggle>
                    <mat-button-toggle value=2 disableRipple>2</mat-button-toggle>
                    <mat-button-toggle value=3 disableRipple>3</mat-button-toggle>
                    <mat-button-toggle value=4 disableRipple>4</mat-button-toggle>
                  </mat-button-toggle-group>
                  <mat-error *ngFor="let validation of validationMessages.csiScoreFoodSecurity">
                    <mat-error class="error-message"
                               *ngIf="csiEditForm.get('csiScoreFoodSecurity').hasError(validation.type)
                                && (csiEditForm.get('csiScoreFoodSecurity').dirty ||
                                csiEditForm.get('csiScoreFoodSecurity').touched)">
                      {{validation.message}}
                    </mat-error>
                  </mat-error>
                </div>
              </div>
            </div>

            <!--
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="csiNutritionAndGrowth" class="rating-label">Nutrition & Growth*</label>
                  <mat-button-toggle-group id="csiNutritionAndGrowth" class="tqp-custom-toggle"
                                           formControlName="csiNutritionAndGrowth">
                    <mat-button-toggle value=1 disableRipple>1</mat-button-toggle>
                    <mat-button-toggle value=2 disableRipple>2</mat-button-toggle>
                    <mat-button-toggle value=3 disableRipple>3</mat-button-toggle>
                    <mat-button-toggle value=4 disableRipple>4</mat-button-toggle>
                  </mat-button-toggle-group>
                  <mat-error *ngFor="let validation of validationMessages.csiNutritionAndGrowth">
                    <mat-error class="error-message"
                               *ngIf="csiEditForm.get('csiNutritionAndGrowth').hasError(validation.type)
                                && (csiEditForm.get('csiNutritionAndGrowth').dirty ||
                                csiEditForm.get('csiNutritionAndGrowth').touched)">
                      {{validation.message}}
                    </mat-error>
                  </mat-error>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="csiShelter" class="rating-label">Shelter*</label>
                  <mat-button-toggle-group id="csiShelter" class="tqp-custom-toggle" formControlName="csiShelter">
                    <mat-button-toggle value=1 disableRipple>1</mat-button-toggle>
                    <mat-button-toggle value=2 disableRipple>2</mat-button-toggle>
                    <mat-button-toggle value=3 disableRipple>3</mat-button-toggle>
                    <mat-button-toggle value=4 disableRipple>4</mat-button-toggle>
                  </mat-button-toggle-group>
                  <mat-error *ngFor="let validation of validationMessages.csiShelter">
                    <mat-error class="error-message"
                               *ngIf="csiEditForm.get('csiShelter').hasError(validation.type)
                                && (csiEditForm.get('csiShelter').dirty ||
                                csiEditForm.get('csiShelter').touched)">
                      {{validation.message}}
                    </mat-error>
                  </mat-error>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="csiCare" class="rating-label">Care*</label>
                  <mat-button-toggle-group id="csiCare" class="tqp-custom-toggle" formControlName="csiCare">
                    <mat-button-toggle value=1 disableRipple>1</mat-button-toggle>
                    <mat-button-toggle value=2 disableRipple>2</mat-button-toggle>
                    <mat-button-toggle value=3 disableRipple>3</mat-button-toggle>
                    <mat-button-toggle value=4 disableRipple>4</mat-button-toggle>
                  </mat-button-toggle-group>
                  <mat-error *ngFor="let validation of validationMessages.csiCare">
                    <mat-error class="error-message"
                               *ngIf="csiEditForm.get('csiCare').hasError(validation.type)
                                && (csiEditForm.get('csiCare').dirty ||
                                csiEditForm.get('csiCare').touched)">
                      {{validation.message}}
                    </mat-error>
                  </mat-error>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="csiAbuseAndExploitation" class="rating-label">Abuse & Exploitation*</label>
                  <mat-button-toggle-group id="csiAbuseAndExploitation" class="tqp-custom-toggle"
                                           formControlName="csiAbuseAndExploitation">
                    <mat-button-toggle value=1 disableRipple>1</mat-button-toggle>
                    <mat-button-toggle value=2 disableRipple>2</mat-button-toggle>
                    <mat-button-toggle value=3 disableRipple>3</mat-button-toggle>
                    <mat-button-toggle value=4 disableRipple>4</mat-button-toggle>
                  </mat-button-toggle-group>
                  <mat-error *ngFor="let validation of validationMessages.csiAbuseAndExploitation">
                    <mat-error class="error-message"
                               *ngIf="csiEditForm.get('csiAbuseAndExploitation').hasError(validation.type)
                                && (csiEditForm.get('csiAbuseAndExploitation').dirty ||
                                csiEditForm.get('csiAbuseAndExploitation').touched)">
                      {{validation.message}}
                    </mat-error>
                  </mat-error>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="csiLegalProtection" class="rating-label">Legal Protection*</label>
                  <mat-button-toggle-group id="csiLegalProtection" class="tqp-custom-toggle"
                                           formControlName="csiLegalProtection">
                    <mat-button-toggle value=1 disableRipple>1</mat-button-toggle>
                    <mat-button-toggle value=2 disableRipple>2</mat-button-toggle>
                    <mat-button-toggle value=3 disableRipple>3</mat-button-toggle>
                    <mat-button-toggle value=4 disableRipple>4</mat-button-toggle>
                  </mat-button-toggle-group>
                  <mat-error *ngFor="let validation of validationMessages.csiLegalProtection">
                    <mat-error class="error-message"
                               *ngIf="csiEditForm.get('csiLegalProtection').hasError(validation.type)
                                && (csiEditForm.get('csiLegalProtection').dirty ||
                                csiEditForm.get('csiLegalProtection').touched)">
                      {{validation.message}}
                    </mat-error>
                  </mat-error>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="csiWellness" class="rating-label">Wellness*</label>
                  <mat-button-toggle-group id="csiWellness" class="tqp-custom-toggle" formControlName="csiWellness">
                    <mat-button-toggle value=1 disableRipple>1</mat-button-toggle>
                    <mat-button-toggle value=2 disableRipple>2</mat-button-toggle>
                    <mat-button-toggle value=3 disableRipple>3</mat-button-toggle>
                    <mat-button-toggle value=4 disableRipple>4</mat-button-toggle>
                  </mat-button-toggle-group>
                  <mat-error *ngFor="let validation of validationMessages.csiWellness">
                    <mat-error class="error-message"
                               *ngIf="csiEditForm.get('csiWellness').hasError(validation.type)
                                && (csiEditForm.get('csiWellness').dirty ||
                                csiEditForm.get('csiWellness').touched)">
                      {{validation.message}}
                    </mat-error>
                  </mat-error>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="csiHealthCareServices" class="rating-label">Health Care Services*</label>
                  <mat-button-toggle-group id="csiHealthCareServices" class="tqp-custom-toggle"
                                           formControlName="csiHealthCareServices">
                    <mat-button-toggle value=1 disableRipple>1</mat-button-toggle>
                    <mat-button-toggle value=2 disableRipple>2</mat-button-toggle>
                    <mat-button-toggle value=3 disableRipple>3</mat-button-toggle>
                    <mat-button-toggle value=4 disableRipple>4</mat-button-toggle>
                  </mat-button-toggle-group>
                  <mat-error *ngFor="let validation of validationMessages.csiHealthCareServices">
                    <mat-error class="error-message"
                               *ngIf="csiEditForm.get('csiHealthCareServices').hasError(validation.type)
                                && (csiEditForm.get('csiHealthCareServices').dirty ||
                                csiEditForm.get('csiHealthCareServices').touched)">
                      {{validation.message}}
                    </mat-error>
                  </mat-error>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="csiEmotionalHealth" class="rating-label">Emotional Health*</label>
                  <mat-button-toggle-group id="csiEmotionalHealth" class="tqp-custom-toggle"
                                           formControlName="csiEmotionalHealth">
                    <mat-button-toggle value=1 disableRipple>1</mat-button-toggle>
                    <mat-button-toggle value=2 disableRipple>2</mat-button-toggle>
                    <mat-button-toggle value=3 disableRipple>3</mat-button-toggle>
                    <mat-button-toggle value=4 disableRipple>4</mat-button-toggle>
                  </mat-button-toggle-group>
                  <mat-error *ngFor="let validation of validationMessages.csiEmotionalHealth">
                    <mat-error class="error-message"
                               *ngIf="csiEditForm.get('csiEmotionalHealth').hasError(validation.type)
                                && (csiEditForm.get('csiEmotionalHealth').dirty ||
                                csiEditForm.get('csiEmotionalHealth').touched)">
                      {{validation.message}}
                    </mat-error>
                  </mat-error>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="csiSocialBehavior" class="rating-label">Social Behavior*</label>
                  <mat-button-toggle-group id="csiSocialBehavior" class="tqp-custom-toggle"
                                           formControlName="csiSocialBehavior">
                    <mat-button-toggle value=1 disableRipple>1</mat-button-toggle>
                    <mat-button-toggle value=2 disableRipple>2</mat-button-toggle>
                    <mat-button-toggle value=3 disableRipple>3</mat-button-toggle>
                    <mat-button-toggle value=4 disableRipple>4</mat-button-toggle>
                  </mat-button-toggle-group>
                  <mat-error *ngFor="let validation of validationMessages.csiSocialBehavior">
                    <mat-error class="error-message"
                               *ngIf="csiEditForm.get('csiSocialBehavior').hasError(validation.type)
                                && (csiEditForm.get('csiSocialBehavior').dirty ||
                                csiEditForm.get('csiSocialBehavior').touched)">
                      {{validation.message}}
                    </mat-error>
                  </mat-error>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="csiPerformance" class="rating-label">Performance*</label>
                  <mat-button-toggle-group id="csiPerformance" class="tqp-custom-toggle"
                                           formControlName="csiPerformance">
                    <mat-button-toggle value=1 disableRipple>1</mat-button-toggle>
                    <mat-button-toggle value=2 disableRipple>2</mat-button-toggle>
                    <mat-button-toggle value=3 disableRipple>3</mat-button-toggle>
                    <mat-button-toggle value=4 disableRipple>4</mat-button-toggle>
                  </mat-button-toggle-group>
                  <mat-error *ngFor="let validation of validationMessages.csiPerformance">
                    <mat-error class="error-message"
                               *ngIf="csiEditForm.get('csiPerformance').hasError(validation.type)
                                && (csiEditForm.get('csiPerformance').dirty ||
                                csiEditForm.get('csiPerformance').touched)">
                      {{validation.message}}
                    </mat-error>
                  </mat-error>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="csiEducationAndWork" class="rating-label">Education & Work*</label>
                  <mat-button-toggle-group id="csiEducationAndWork" class="tqp-custom-toggle"
                                           formControlName="csiEducationAndWork">
                    <mat-button-toggle value=1 disableRipple>1</mat-button-toggle>
                    <mat-button-toggle value=2 disableRipple>2</mat-button-toggle>
                    <mat-button-toggle value=3 disableRipple>3</mat-button-toggle>
                    <mat-button-toggle value=4 disableRipple>4</mat-button-toggle>
                  </mat-button-toggle-group>
                  <mat-error *ngFor="let validation of validationMessages.csiEducationAndWork">
                    <mat-error class="error-message"
                               *ngIf="csiEditForm.get('csiEducationAndWork').hasError(validation.type)
                                && (csiEditForm.get('csiEducationAndWork').dirty ||
                                csiEditForm.get('csiEducationAndWork').touched)">
                      {{validation.message}}
                    </mat-error>
                  </mat-error>
                </div>
              </div>
            </div>
            -->

          </div>

        </div>

      </div>
    </div>

  </form>

</div>
