<div class="tqp-crud-detail-edit animated fadeIn" *ngIf="payment">

  <form [formGroup]="paymentEditForm">

    <div class="row">

      <div class="col-sm-6">
        <h1 *ngIf="payment && newRecord && paymentEditForm.controls['paymentId'].value == ''; else notShow">
          New Payment
        </h1>
        <ng-template #notShow>
          <h1>
            <i class="fa fa-bank"></i>
            {{payment.caregiverGivenName}}, {{payment.caregiverSurname}}: {{paymentEditForm.controls['paymentAmount'].value | currency: 'Le'}}
          </h1>
        </ng-template>
      </div>

    </div>

    <div class="row">
      <div class="col-lg-6 col-sm-12">

        <div class="card">
          <div class="card-header">
            <i class="fa fa-user"></i>
            Payment Information
          </div>
          <div class="card-body">

            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="paymentAmount">Payment Amount</label>
                  <input matInput id="paymentAmount" type="text" class="form-control" placeholder="Payment Amount"
                         formControlName="paymentAmount">
                  <mat-error *ngFor="let validation of validationMessages.paymentAmount">
                    <mat-error class="error-message"
                               *ngIf="paymentEditForm.get('paymentAmount').hasError(validation.type)
                                && (paymentEditForm.get('paymentAmount').dirty ||
                                paymentEditForm.get('paymentAmount').touched)">
                      {{validation.message}}
                    </mat-error>
                  </mat-error>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="paymentDate">Payment Date</label>
                  <input matInput id="paymentDate" type="text" class="form-control" bsDatepicker
                         [bsConfig]="{dateInputFormat: 'DD-MMM-YYYY'}"
                         placeholder="Payment Date"
                         formControlName="paymentDate">
                  <mat-error *ngFor="let validation of validationMessages.paymentDate">
                    <mat-error class="error-message"
                               *ngIf="paymentEditForm.get('paymentDate').hasError(validation.type)
                                && (paymentEditForm.get('paymentDate').dirty ||
                                paymentEditForm.get('paymentDate').touched)">
                      {{validation.message}}
                    </mat-error>
                  </mat-error>
                </div>
              </div>
            </div>

          </div>

          <div class="card-footer">
            <button type="button" class="btn btn-primary float-right" (click)="save()"
                    [disabled]="!paymentEditForm.valid">
              <i class="fa fa-save mr-2"></i>Save
            </button>
            <button type="button" class="btn btn-secondary" (click)="cancel()">
              <i class="fa fa-ban mr-2"></i>Cancel
            </button>
            <button type="button" class="btn btn-danger" (click)="delete(payment.paymentId)">
              <i class="fa fa-trash-o mr-2"></i>Delete
            </button>
          </div>

        </div>

      </div>

      <div class="col-lg-6 col-sm-12">

      </div>
    </div>

  </form>

</div>
