<h2 mat-dialog-title>Create New User</h2>

<mat-dialog-content style="overflow: auto">

  <form [formGroup]="userEditForm" [hidden]="!checkboxesLoaded">

    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <label for="givenName">Given Name*</label>
          <input id="givenName" type="text" class="form-control" formControlName="givenName" #userGivenNameInputField>
          <mat-error *ngFor="let validation of validationMessages.givenName">
            <mat-error class="error-message"
                       *ngIf="userEditForm.get('givenName').hasError(validation.type)
                                && (userEditForm.get('givenName').dirty ||
                                userEditForm.get('givenName').touched)">
              {{validation.message}}
            </mat-error>
          </mat-error>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <label for="surname">Surname*</label>
          <input id="surname" type="text" class="form-control" formControlName="surname">
          <mat-error *ngFor="let validation of validationMessages.surname">
            <mat-error class="error-message"
                       *ngIf="userEditForm.get('surname').hasError(validation.type)
                                && (userEditForm.get('surname').dirty ||
                                userEditForm.get('surname').touched)">
              {{validation.message}}
            </mat-error>
          </mat-error>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <label for="username">Username* <small>(This is usually the User's email address)</small></label>
          <input id="username" type="text" class="form-control" formControlName="username">
          <mat-error *ngFor="let validation of validationMessages.username">
            <mat-error class="error-message"
                       *ngIf="userEditForm.get('username').hasError(validation.type)
                                && (userEditForm.get('username').dirty ||
                                userEditForm.get('username').touched)">
              {{validation.message}}
            </mat-error>
          </mat-error>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <label>Position Templates <small>(Pre-Fills Roles)</small></label>
          <div class="col-md-9 col-form-label radio-button-area-container">

            <div class="radio form-check" *ngFor="let position of positionList; let i = index">
              <input class="form-check-input" type="radio"
                     id="radio{{i}}" [value]="position.positionId" checked
                     formControlName="position"
                     (change)="radioButtonChanged($event, position)">
              <label class="form-check-label" for="radio{{i}}">
                {{position.positionName}}
              </label>
            </div>

          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <label>Roles <small>(Customize as Needed)</small></label>
          <div class="col-md-9 col-form-label checkbox-area-container">

            <label formArrayName="roleCheckboxes" class="checkbox-label"
                   *ngFor="let checkbox of roleCheckboxFormArray.controls; let i = index">
              <input type="checkbox" [formControlName]="i" (change)="checkboxChanged()"/>
              {{roleList[i].roleName}}
            </label>

          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <div class="form-group row">
            <div class="col-md-1 col-form-label">
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="inline-checkbox1"
                       (change)="setInitialPasswordCheckChanged($event)" formControlName="setInitialPassword">
                <label class="form-check-label" for="inline-checkbox1"></label>
              </div>
            </div>
            <label class="col-md-10 col-form-label">Set initial password for user?</label>
          </div>
        </div>
      </div>
    </div>

    <div class="row" *ngIf="setInitialPasswordCheckboxStatus">
      <div class="col-sm-12">
        <div class="form-group">
          <label for="initialPassword">Initial Password</label>
          <input id="initialPassword" type="text" class="form-control" formControlName="password">
          <mat-error *ngFor="let validation of validationMessages.initialPassword">
            <mat-error class="error-message"
                       *ngIf="userEditForm.get('initialPassword').hasError(validation.type)
                                && (userEditForm.get('initialPassword').dirty ||
                                userEditForm.get('initialPassword').touched)">
              {{validation.message}}
            </mat-error>
          </mat-error>
        </div>
      </div>
    </div>

  </form>

  <mat-card class="spinner-container" *ngIf="!checkboxesLoaded">
    <mat-progress-spinner
      color="primary"
      mode="indeterminate">
    </mat-progress-spinner>
  </mat-card>

</mat-dialog-content>

<mat-dialog-actions>
  <button mat-raised-button mat-dialog-close>Cancel</button>
  <div fxFlex></div>
  <button mat-raised-button mat-dialog-close class="btn btn-primary" (click)="save();"
          [disabled]="!userEditForm.valid">Save
  </button>
</mat-dialog-actions>
