<div class="tqp-crud-detail-edit animated fadeIn" *ngIf="sponsor">

  <form [formGroup]="sponsorEditForm">

    <div class="row">

      <div class="col-sm-6">
        <h1 *ngIf="sponsor && newRecord && sponsorEditForm.controls['sponsorSurname'].value == ''; else notShow">
          New Sponsor
        </h1>
        <ng-template #notShow>
          <h1>
            <i class="fa fa-handshake-o"></i>
            {{sponsorEditForm.controls['sponsorGivenName'].value}} {{sponsorEditForm.controls['sponsorSurname'].value}}
          </h1>
        </ng-template>
      </div>

    </div>

    <div class="row">
      <div class="col-lg-6 col-sm-12">

        <div class="card">
          <div class="card-header">
            <i class="fa fa-user"></i>
            Personal Information
          </div>
          <div class="card-body">

            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="sponsorGivenName">Given Name*</label>
                  <input matInput id="sponsorGivenName" #defaultInputField type="text" class="form-control" placeholder="Given Name"
                         formControlName="sponsorGivenName">
                  <mat-error *ngFor="let validation of validationMessages.sponsorGivenName">
                    <mat-error class="error-message"
                               *ngIf="sponsorEditForm.get('sponsorGivenName').hasError(validation.type)
                                && (sponsorEditForm.get('sponsorGivenName').dirty ||
                                sponsorEditForm.get('sponsorGivenName').touched)">
                      {{validation.message}}
                    </mat-error>
                  </mat-error>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="sponsorSurname">Surname*</label>
                  <input matInput id="sponsorSurname" type="text" class="form-control" placeholder="Surname"
                         formControlName="sponsorSurname" autocomplete="chrome-off">
                  <mat-error *ngFor="let validation of validationMessages.sponsorSurname">
                    <mat-error class="error-message"
                               *ngIf="sponsorEditForm.get('sponsorSurname').hasError(validation.type)
                                && (sponsorEditForm.get('sponsorSurname').dirty ||
                                sponsorEditForm.get('sponsorSurname').touched)">
                      {{validation.message}}
                    </mat-error>
                  </mat-error>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="sponsorAffiliatedChurch">Affiliated Church</label>
                  <input matInput id="sponsorAffiliatedChurch" type="text" class="form-control" placeholder="Affiliated Church"
                         formControlName="sponsorAffiliatedChurch">
                  <mat-error *ngFor="let validation of validationMessages.sponsorAffiliatedChurch">
                    <mat-error class="error-message"
                               *ngIf="sponsorEditForm.get('sponsorAffiliatedChurch').hasError(validation.type)
                                && (sponsorEditForm.get('sponsorAffiliatedChurch').dirty ||
                                sponsorEditForm.get('sponsorAffiliatedChurch').touched)">
                      {{validation.message}}
                    </mat-error>
                  </mat-error>
                </div>
              </div>
            </div>
          </div>

          <div class="card-footer">
            <button type="button" class="btn btn-primary float-right" (click)="save()"
                    [disabled]="!sponsorEditForm.valid">
              <i class="fa fa-save mr-2"></i>Save
            </button>
            <button type="button" class="btn btn-secondary" (click)="cancel()">
              <i class="fa fa-ban mr-2"></i>Cancel
            </button>
            <button type="button" class="btn btn-danger" (click)="delete(sponsor.sponsorId)">
              <i class="fa fa-trash-o mr-2"></i>Delete
            </button>
          </div>

        </div>

      </div>

      <div class="col-lg-6 col-sm-12">

      </div>
    </div>

  </form>

</div>
