<div class="tqp-crud-detail-edit animated fadeIn" *ngIf="caseManager">

  <form [formGroup]="caseManagerEditForm">

    <div class="row">

      <div class="col-sm-6">
        <h1>
          <i class="fa fa-folder"></i>
          {{caseManagerEditForm.controls['caseManagerGivenName'].value}} {{caseManagerEditForm.controls['caseManagerSurname'].value}}
        </h1>
      </div>

    </div>

    <div class="row">
      <div class="col-lg-6 col-sm-12">

        <div class="card">
          <div class="card-header">
            <i class="fa fa-user"></i>
            Personal Information
          </div>
          <div class="card-body">

            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="caseManagerId">Case Manager ID*</label>
                  <input matInput id="caseManagerId" type="text" class="form-control" placeholder="Case Manager ID"
                         formControlName="caseManagerId" autocomplete="chrome-off">
                  <mat-error *ngFor="let validation of validationMessages.caseManagerId">
                    <mat-error class="error-message"
                               *ngIf="caseManagerEditForm.get('caseManagerId').hasError(validation.type)
                                && (caseManagerEditForm.get('caseManagerId').dirty ||
                                caseManagerEditForm.get('caseManagerId').touched)">
                      {{validation.message}}
                    </mat-error>
                  </mat-error>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="caseManagerUserId">User ID*</label>
                  <input matInput id="caseManagerUserId" type="text" class="form-control" placeholder="User ID"
                         formControlName="caseManagerUserId" autocomplete="chrome-off">
                  <mat-error *ngFor="let validation of validationMessages.caseManagerUserId">
                    <mat-error class="error-message"
                               *ngIf="caseManagerEditForm.get('caseManagerUserId').hasError(validation.type)
                                && (caseManagerEditForm.get('caseManagerUserId').dirty ||
                                caseManagerEditForm.get('caseManagerUserId').touched)">
                      {{validation.message}}
                    </mat-error>
                  </mat-error>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="caseManagerGivenName">First Name*</label>
                  <input matInput id="caseManagerGivenName" type="text" class="form-control" placeholder="Given Name"
                         formControlName="caseManagerGivenName">
                  <mat-error *ngFor="let validation of validationMessages.caseManagerGivenName">
                    <mat-error class="error-message"
                               *ngIf="caseManagerEditForm.get('caseManagerGivenName').hasError(validation.type)
                                && (caseManagerEditForm.get('caseManagerGivenName').dirty ||
                                caseManagerEditForm.get('caseManagerGivenName').touched)">
                      {{validation.message}}
                    </mat-error>
                  </mat-error>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="caseManagerSurname">Last Name*</label>
                  <input matInput id="caseManagerSurname" #defaultInputField type="text" class="form-control"
                         placeholder="Surname"
                         formControlName="caseManagerSurname" autocomplete="chrome-off">
                  <mat-error *ngFor="let validation of validationMessages.caseManagerSurname">
                    <mat-error class="error-message"
                               *ngIf="caseManagerEditForm.get('caseManagerSurname').hasError(validation.type)
                                && (caseManagerEditForm.get('caseManagerSurname').dirty ||
                                caseManagerEditForm.get('caseManagerSurname').touched)">
                      {{validation.message}}
                    </mat-error>
                  </mat-error>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="caseManagerAddress">Home Address</label>
                  <input matInput id="caseManagerAddress" type="text" class="form-control" placeholder="Home Address"
                         formControlName="caseManagerAddress">
                  <mat-error *ngFor="let validation of validationMessages.caseManagerAddress">
                    <mat-error class="error-message"
                               *ngIf="caseManagerEditForm.get('caseManagerAddress').hasError(validation.type)
                                && (caseManagerEditForm.get('caseManagerAddress').dirty ||
                                caseManagerEditForm.get('caseManagerAddress').touched)">
                      {{validation.message}}
                    </mat-error>
                  </mat-error>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="caseManagerPhone">Primary Phone</label>
                  <input matInput id="caseManagerPhone" type="text" class="form-control" placeholder="Primary Phone"
                         formControlName="caseManagerPhone">
                  <mat-error *ngFor="let validation of validationMessages.caseManagerPhone">
                    <mat-error class="error-message"
                               *ngIf="caseManagerEditForm.get('caseManagerPhone').hasError(validation.type)
                                && (caseManagerEditForm.get('caseManagerPhone').dirty ||
                                caseManagerEditForm.get('caseManagerPhone').touched)">
                      {{validation.message}}
                    </mat-error>
                  </mat-error>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="caseManagerEmail">E-Mail Address</label>
                  <input matInput id="caseManagerEmail" type="text" class="form-control" placeholder="E-Mail Address"
                         formControlName="caseManagerEmail">
                  <mat-error *ngFor="let validation of validationMessages.caseManagerEmail">
                    <mat-error class="error-message"
                               *ngIf="caseManagerEditForm.get('caseManagerEmail').hasError(validation.type)
                                && (caseManagerEditForm.get('caseManagerEmail').dirty ||
                                caseManagerEditForm.get('caseManagerEmail').touched)">
                      {{validation.message}}
                    </mat-error>
                  </mat-error>
                </div>
              </div>
            </div>

          </div>

          <div class="card-footer">
            <button type="button" class="btn btn-primary float-right" (click)="save()"
                    [disabled]="!caseManagerEditForm.valid">
              <i class="fa fa-save mr-2"></i>Save
            </button>
            <button type="button" class="btn btn-secondary" (click)="cancel()">
              <i class="fa fa-ban mr-2"></i>Cancel
            </button>
            <!--
            <button type="button" class="btn btn-danger" (click)="delete(caseManager.caseManagerId)">
              <i class="fa fa-trash-o mr-2"></i>Delete
            </button>
            -->
          </div>

        </div>

      </div>

      <div class="col-lg-6 col-sm-12">

      </div>

    </div>

  </form>

</div>
