<div class="animated fadeIn">
  <div class="email-app mb-4">
    <nav>
      <button class="btn btn-sm btn-outline-info btn-block" (click)="runElasticQuery();">Search</button>

      <div class="form-group" *ngIf="facetPackage">
        <label>Stats</label>
        <div class="form-check">
          <label>Total Records</label>
          <span class="badge badge-dark float-right">{{facetPackage.queryResultCount}}</span>
        </div>
      </div>

      <ng-container *ngIf="facetPackage">
        <div class="form-group" *ngFor="let filterGroup of facetPackage.filterGroupList">
          <label>{{filterGroup.filterGroupName}}</label>
          <div class="form-check" *ngFor="let filterItem of filterGroup.filterItemList">
            <input class="form-check-input" type="checkbox"
                   id="{{filterGroup.filterGroupName}}|{{filterItem.filterItemName}}"
                   (click)="clickCheckbox(filterGroup.filterGroupName, $event)"
                   [checked]="isChecked(filterGroup.filterGroupName + '|' + filterItem.filterItemName)"
                   value="{{filterItem.filterItemName}}"/>
            <label class="form-check-label" for="{{filterGroup.filterGroupName}}|{{filterItem.filterItemName}}">
              {{filterItem.filterItemName}}
            </label>
            <span class="badge badge-dark float-right">{{filterItem.filterItemCount}}</span>
          </div>
        </div>
      </ng-container>

    </nav>

    <main class="inbox">

      <div class="toolbar">
        <button type="button" class="btn btn-light">
          <span class="fa fa-trash-o"></span>
        </button>
        <a class="badge badge-warning mr-1" style="cursor: pointer; color: rgb(35, 40, 44);"
           *ngFor="let tag of tagList"
           (click)="removeTag(tag.key);">
          <i class="fa fa-close mr-1"></i>{{tag.value}}
        </a>
      </div>

      <ul class="messages">
        <ng-container *ngIf="facetPackage">
          <li class="message" *ngFor="let queryResult of facetPackage.queryResultList">
            <a href="#">
              <div class="title">
                {{queryResult.nodeId}}: {{queryResult.sampleMeasure}}
              </div>
              <div class="description">
                <span class="badge badge-info">{{queryResult.sampleDatatype}}</span>
                <span class="badge badge-info">{{queryResult.samplePoc}}</span>
                <span class="badge badge-info">{{queryResult.sampleTimestamp}}</span>
              </div>
            </a>
          </li>
        </ng-container>
      </ul>

    </main>
  </div>
  
</div>
