<div class="animated fadeIn">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-user"></i>Create Case Manager
        </div>
        <div class="card-body">
          <h4>How to Create a Case Manager</h4>
          <p style="font-size: 1.3em;">
            Case Managers will log into this website to enter CSI and Student Visit records.<br />
            Because of this, Case Managers are not added to this system in the same way that Students, Caregivers,
            or Sponsors are.<br />
            Instead, they need to be added as a User of this system and granted the Case Manager role.<br />
            <br />
            If you have the 'Manage Users' role, click on 'User List' in the menu on the left side of the page.<br />
            Then, click the 'Create New User' button in the top-left corner of the screen.<br />
            Enter the Case Manager's information, ensuring that you check the box next to Case Manager in the Roles section.<br />
            The Case Manager will then appear in the Case Managers list.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
