<div class="tqp-crud-list table-container animated fadeIn">

  <div class="card" [hidden]="isLoading || error">

    <div class="card-header">

      <div class="float-left" style="width: 40%;">
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text"><i class="fa fa-search"></i></div>
          </div>
          <label for="nameSearchFieldId" *ngIf="false"></label>
          <input id="nameSearchFieldId" type="text" class="form-control" placeholder="Search by Name"
                 [formControl]="searchFormControl" #searchElementRef autocomplete="off"/>
          <div class="input-group-append">
            <div class="input-group-text btn btn-dark" (click)="clearFilters()"><i class="fa fa-times"></i></div>
          </div>
        </div>
      </div>

      <div class="col-md-4 float-right">
        <button class="btn btn-sm btn-outline-primary float-right" (click)="openCreateSponsorLetterPage()"
                [hidden]="authService.hiddenBasedOnRoles('ROLE_ADMIN, ROLE_ADD_STUDENTS', 'Create Sponsor Letter')">
          <i class="fa fa-plus mr-1"></i>
          Add Sponsor Letter
        </button>
      </div>

    </div>

    <div class="card-body">

      <table mat-table [dataSource]="dataSource" class="table table-striped"
             matSort matSortActive="sponsorName" matSortDirection="asc" matSortDisableClear="true">

        <ng-container matColumnDef="sponsorLetterDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
          <td mat-cell *matCellDef="let row">
            <a [routerLink]="['/sponsor-letters/sponsor-letter-detail', row.sponsorLetterId]">
              {{row.sponsorLetterDate | date:'dd-MMM-yyyy'}}
            </a>
          </td>
        </ng-container>

        <ng-container matColumnDef="studentName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Student</th>
          <td mat-cell *matCellDef="let row">
            <a [routerLink]="['/students/student-detail', row.studentId]">
              {{row.studentName}}
            </a>
          </td>
        </ng-container>

        <ng-container matColumnDef="sponsorName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Sponsor</th>
          <td mat-cell *matCellDef="let row">
            <a [routerLink]="['/sponsors/sponsor-detail', row.sponsorId]">
              {{row.sponsorName}}
            </a>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="getDisplayedColumns()"></tr>
        <tr mat-row *matRowDef="let row; columns: getDisplayedColumns();"></tr>

      </table>

      <div class="no-records" *ngIf="dataSource == null || (dataSource && dataSource.length <= 0)">
        No Records Found
      </div>

    </div>

  </div>

  <div *ngIf="error">
    {{error}}
  </div>

  <div *ngIf="isLoading && !error">
    <div class="spinner-container">
      <mat-progress-spinner mode="indeterminate">
      </mat-progress-spinner>
    </div>
  </div>

</div>
