<h2 mat-dialog-title *ngIf="data.action == 'update'; else create;">Edit Program Status Assignment</h2>
<ng-template #create>
  <h2 mat-dialog-title>Set Program Status</h2>
</ng-template>

<mat-dialog-content style="overflow: hidden">

  <form [formGroup]="programStatusEditForm" [hidden]="!dataLoaded && !programStatusPackageLevelOne">

    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <label for="programStatusId">Program Status ID</label>
          <input id="programStatusId" type="text" class="form-control" formControlName="programStatusId">
          <mat-error *ngFor="let validation of validationMessages.programStatusId">
            <mat-error class="error-message"
                       *ngIf="programStatusEditForm.get('programStatusId').hasError(validation.type)
                                && (programStatusEditForm.get('programStatusId').dirty ||
                                programStatusEditForm.get('programStatusId').touched)">
              {{validation.message}}
            </mat-error>
          </mat-error>
        </div>
      </div>
    </div>

    <div class="row" *ngIf="programStatusPackageLevelOne">
      <div class="col-sm-12">
        <div class="form-group">
          <label for="programStatusLevelOneId">Select New Program Status*</label>
          <select id="programStatusLevelOneId" class="form-control" formControlName="programStatusLevelOneId"
                  (change)="programStatusLevelOneChanged($event)">
            <option value=0>Select a Program Status</option>
            <option *ngFor="let programStatusList of programStatusPackageLevelOne.childProgramStatusList" value="{{programStatusList.programStatusId}}">
              {{programStatusList.programStatusName}}
            </option>
          </select>
          <mat-error *ngFor="let validation of validationMessages.programStatusLevelOneId">
            <mat-error class="error-message"
                       *ngIf="programStatusEditForm.get('programStatusLevelOneId').hasError(validation.type)
                                && (programStatusEditForm.get('programStatusLevelOneId').dirty ||
                                programStatusEditForm.get('programStatusLevelOneId').touched)">
              {{validation.message}}
            </mat-error>
          </mat-error>
        </div>
      </div>
    </div>

    <div class="row" *ngIf="programStatusPackageLevelTwo">
      <div class="col-sm-12">
        <div class="form-group">
          <label for="programStatusLevelTwoId">{{programStatusPackageLevelTwo.childFieldTitle}}*</label>
          <select id="programStatusLevelTwoId" class="form-control" formControlName="programStatusLevelTwoId">
            <option value=0>Select a Program Status</option>
            <option *ngFor="let programStatusLevelTwo of programStatusPackageLevelTwo.childProgramStatusList"
                    value="{{programStatusLevelTwo.programStatusId}}">
              {{programStatusLevelTwo.programStatusName}}
            </option>
          </select>
          <mat-error *ngFor="let validation of validationMessages.programStatusLevelTwoId">
            <mat-error class="error-message"
                       *ngIf="programStatusEditForm.get('programStatusLevelTwoId').hasError(validation.type)
                                && (programStatusEditForm.get('programStatusLevelTwoId').dirty ||
                                programStatusEditForm.get('programStatusLevelTwoId').touched)">
              {{validation.message}}
            </mat-error>
          </mat-error>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <label for="relationshipStartDate">Effective Date*</label>
          <input id="relationshipStartDate" type="text" class="form-control" bsDatepicker
                 formControlName="relationshipStartDate">
          <mat-error *ngFor="let validation of validationMessages.relationshipStartDate">
            <mat-error class="error-message"
                       *ngIf="programStatusEditForm.get('relationshipStartDate').hasError(validation.type)
                                && (programStatusEditForm.get('relationshipStartDate').dirty ||
                                programStatusEditForm.get('relationshipStartDate').touched)">
              {{validation.message}}
            </mat-error>
          </mat-error>
        </div>
      </div>
    </div>

  </form>

  <mat-card class="spinner-container" *ngIf="!dataLoaded">
    <mat-progress-spinner
      color="primary"
      mode="indeterminate">
    </mat-progress-spinner>
  </mat-card>

</mat-dialog-content>

<mat-dialog-actions>
  <button mat-raised-button class="btn btn-danger" (click)="delete();" *ngIf="data.action == 'update'">
    Delete
  </button>
  <button mat-raised-button mat-dialog-close>Cancel</button>
  <div fxFlex></div>
  <button mat-raised-button mat-dialog-close class="btn btn-primary" (click)="save();"
          [disabled]="!programStatusEditForm.valid">Save
  </button>
</mat-dialog-actions>
