<div class="animated fadeIn">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-info-circle"></i>About CRC
          <div class="float-right" *ngIf="clientBuildTimestamp && serverBuildTimestamp">
            <span class="badge badge-info mr-1" *ngIf="environmentName">Environment: {{environmentName.toUpperCase()}}</span>
            <span class="badge badge-info mr-1" *ngIf="clientBuildTimestamp">Client Built: {{clientBuildTimestamp}}</span>
            <span class="badge badge-info mr-1" *ngIf="serverBuildTimestamp">Server Built: {{serverBuildTimestamp}}</span>
          </div>
        </div>
        <div class="card-body">
          <h4>Overview</h4>
          The Child Reintegration Centre is a child welfare organization in Bo, Sierra Leone focused on ensuring
          that vulnerable children grow up in the care of loving, safe and permanent families.  The CRC works
          to reintegrate children separated from parental care (primarily street-connected) back into families,
          provide support to children and families through case management and family strengthening programs, and
          to support other orphanages transitioning from residential to family-based care and reintegration through
          training, coaching, and mentorship consultancy.  The CRC employs 11 qualified case managers among
          other staff.  The CRC Director has a BA in social work.
        </div>
      </div>
    </div>
  </div>
</div>
