<div class="tqp-crud-list table-container animated fadeIn">

  <div class="card" [hidden]="isLoading || error">

    <div class="card-header">

      <div class="float-left" style="width: 40%;">
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text"><i class="fa fa-search"></i></div>
          </div>
          <label for="nameSearchFieldId" *ngIf="false"></label>
          <input id="nameSearchFieldId" type="text" class="form-control" placeholder="Search by User"
                 [formControl]="searchFormControl" #searchElementRef autocomplete="off"/>
          <div class="input-group-append">
            <div class="input-group-text btn btn-dark" (click)="clearFilters()"><i class="fa fa-times"></i></div>
          </div>
        </div>
      </div>

      <div class="col-md-4 float-right">
        <button class="btn btn-sm btn-outline-primary float-right" (click)="openUserCreateDialog()"
                [hidden]="authService.hiddenBasedOnRoles('ROLE_ADD_STUDENTS', 'Create Student')">
          <i class="fa fa-plus mr-1"></i>
          Create New Student
        </button>
      </div>

    </div>

    <div class="card-body">

      <table mat-table [dataSource]="userListDataSource" class="table table-striped"
             matSort matSortActive="userName" matSortDirection="asc" matSortDisableClear="true">

        <ng-container matColumnDef="userName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
          <td mat-cell *matCellDef="let row">
            <a [routerLink]="['/users/user-detail', row.userId]">
              {{row.userName}}
            </a>
          </td>
        </ng-container>

        <ng-container matColumnDef="userUsername">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Username</th>
          <td mat-cell *matCellDef="let row">{{row.userUsername}}</td>
        </ng-container>

        <ng-container matColumnDef="lastLogin">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Last Login</th>
          <td mat-cell *matCellDef="let row">
            <span *ngIf="row.lastLogin; else neverLoggedOn;">{{row.lastLogin | date:'dd-MMM-yyyy h:mm:ss a'}}</span>
            <ng-template #neverLoggedOn>
              <span class="text-danger">Never Logged In</span>
            </ng-template>
          </td>
        </ng-container>

        <ng-container matColumnDef="director">
          <th mat-header-cell *matHeaderCellDef matTooltip="Director" class="role-cell-header">DIR</th>
          <td mat-cell *matCellDef="let row" class="role-cell">
            <i class="fa fa-check-square" *ngIf="row.positionId == 3"></i>
          </td>
        </ng-container>

        <ng-container matColumnDef="m&e">
          <th mat-header-cell *matHeaderCellDef matTooltip="M&E" class="role-cell-header">M&E</th>
          <td mat-cell *matCellDef="let row" class="role-cell">
            <i class="fa fa-check-square" *ngIf="row.positionId == 6"></i>
          </td>
        </ng-container>

        <ng-container matColumnDef="leadCaseManager">
          <th mat-header-cell *matHeaderCellDef matTooltip="Lead Case Manager" class="role-cell-header">LCM</th>
          <td mat-cell *matCellDef="let row" class="role-cell">
            <i class="fa fa-check-square" *ngIf="row.positionId == 7"></i>
          </td>
        </ng-container>

        <ng-container matColumnDef="caseManager">
          <th mat-header-cell *matHeaderCellDef matTooltip="Case Manager" class="role-cell-header">CM</th>
          <td mat-cell *matCellDef="let row" class="role-cell">
            <i class="fa fa-check-square" *ngIf="row.positionId == 4"></i>
          </td>
        </ng-container>

        <ng-container matColumnDef="hcwCrcStaff">
          <th mat-header-cell *matHeaderCellDef matTooltip="HCW/CRC Staff" class="role-cell-header">CRC</th>
          <td mat-cell *matCellDef="let row" class="role-cell">
            <i class="fa fa-check-square" *ngIf="row.positionId == 1"></i>
          </td>
        </ng-container>

        <ng-container matColumnDef="custom">
          <th mat-header-cell *matHeaderCellDef matTooltip="Custom" class="role-cell-header">Cust.</th>
          <td mat-cell *matCellDef="let row" class="role-cell">
            <i class="fa fa-check-square" *ngIf="row.positionId == 5"></i>
          </td>
        </ng-container>

        <ng-container matColumnDef="loginCount">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Login Count</th>
          <td mat-cell *matCellDef="let row">{{row.loginCount}}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="getDisplayedColumns()"></tr>
        <tr mat-row *matRowDef="let row; columns: getDisplayedColumns();"></tr>

      </table>

      <div class="no-records"
           *ngIf="userListDataSource == null || (userListDataSource && userListDataSource.length <= 0)">
        No Records Found
      </div>

    </div>

  </div>

  <div *ngIf="error">
    {{error}}
  </div>

  <div *ngIf="isLoading && !error">
    <div class="spinner-container">
      <mat-progress-spinner mode="indeterminate">
      </mat-progress-spinner>
    </div>
  </div>

</div>
