<h2 mat-dialog-title *ngIf="data.action == 'update'; else create;">Edit Case Manager Assignment</h2>
<ng-template #create>
  <h2 mat-dialog-title>Assign a Case Manager</h2>
</ng-template>

<mat-dialog-content style="overflow: hidden">

  <form [formGroup]="studentCaseManagerEditForm" [hidden]="!dataLoaded">

    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <label for="relationshipId">Student-Case Manager ID</label>
          <input id="relationshipId" type="text" class="form-control" formControlName="relationshipId">
          <mat-error *ngFor="let validation of validationMessages.relationshipId">
            <mat-error class="error-message"
                       *ngIf="studentCaseManagerEditForm.get('relationshipId').hasError(validation.type)
                                && (studentCaseManagerEditForm.get('relationshipId').dirty ||
                                studentCaseManagerEditForm.get('relationshipId').touched)">
              {{validation.message}}
            </mat-error>
          </mat-error>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <label for="caseManagerId">Case Manager*</label>
          <select id="caseManagerId" class="form-control" formControlName="caseManagerId">
            <option value=0>Select a Case Manager</option>
            <option *ngFor="let caseManager of caseManagerList"
                    value="{{caseManager.caseManagerId}}">
              {{caseManager.caseManagerSurname}}, {{caseManager.caseManagerGivenName}}
            </option>
          </select>
          <mat-error *ngFor="let validation of validationMessages.caseManagerId">
            <mat-error class="error-message"
                       *ngIf="studentCaseManagerEditForm.get('caseManagerId').hasError(validation.type)
                                && (studentCaseManagerEditForm.get('caseManagerId').dirty ||
                                studentCaseManagerEditForm.get('caseManagerId').touched)">
              {{validation.message}}
            </mat-error>
          </mat-error>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <label for="relationshipStartDate">Effective Date*</label>
          <input id="relationshipStartDate" type="text" class="form-control" bsDatepicker
                 formControlName="relationshipStartDate">
          <mat-error *ngFor="let validation of validationMessages.relationshipStartDate">
            <mat-error class="error-message"
                       *ngIf="studentCaseManagerEditForm.get('relationshipStartDate').hasError(validation.type)
                                && (studentCaseManagerEditForm.get('relationshipStartDate').dirty ||
                                studentCaseManagerEditForm.get('relationshipStartDate').touched)">
              {{validation.message}}
            </mat-error>
          </mat-error>
        </div>
      </div>
    </div>

  </form>

  <mat-card class="spinner-container" *ngIf="!dataLoaded">
    <mat-progress-spinner
      color="primary"
      mode="indeterminate">
    </mat-progress-spinner>
  </mat-card>

</mat-dialog-content>

<mat-dialog-actions>
  <button mat-raised-button class="btn btn-danger" (click)="delete();" *ngIf="data.action == 'update'">
    Delete
  </button>
  <button mat-raised-button mat-dialog-close>Cancel</button>
  <div fxFlex></div>
  <button mat-raised-button mat-dialog-close class="btn btn-primary" (click)="save();"
          [disabled]="!studentCaseManagerEditForm.valid">Save
  </button>
</mat-dialog-actions>
