<div class="tqp-crud-detail animated fadeIn" *ngIf="payment">

  <div class="row">
    <div class="col-sm-6">
      <h1>
        <i class="fa fa-bank"></i>
        {{payment.caregiverGivenName}} {{payment.caregiverSurname}}: {{payment.paymentAmount | currency: 'Le'}}
      </h1>
    </div>
    <div class="col-sm-6">
      <div class="form-group float-right">
        <button class="btn btn-sm btn-outline-primary ml-3" (click)="returnToList()">
          Go To Payment <u>L</u>ist
        </button>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6 col-sm-12">

      <div class="card">
        <div class="card-header">
          <i class="fa fa-user"></i>
          Payment Information
          <i *ngIf="paymentLoading" class="fa fa-spinner fa-spin"></i>
          <div class="card-header-actions"
               [hidden]="authService.allowRoles('ROLE_EDIT, ROLE_ADMIN', 'Edit Payment Info')">
            <small class="tqp-nav-link" (click)="openEditPage();">Edit Payment Info</small>
          </div>
        </div>
        <div class="card-body">
          <dl class="row">
            <dt class="col-sm-4">Recipient:</dt>
            <dd class="col-sm-8">
              <span class="tqp-nav-link" [routerLink]="['/caregivers/caregiver-detail', payment.caregiverId]">
                {{payment.caregiverGivenName}} {{payment.caregiverSurname}}
              </span>
            </dd>
          </dl>
          <dl class="row">
            <dt class="col-sm-4">Loan ID:</dt>
            <dd class="col-sm-8">
              <span class="tqp-nav-link" [routerLink]="['/loans/loan-detail', payment.loanId]">
                {{('00000' + payment.loanId).slice(-5)}}
              </span>
            </dd>

          </dl>
          <dl class="row">
            <dt class="col-sm-4">Loan Description:</dt>
            <dd class="col-sm-8">{{payment.loanDescription}}</dd>
          </dl>
          <dl class="row">
            <dt class="col-sm-4">Amount:</dt>
            <dd class="col-sm-8">{{payment.paymentAmount | currency: 'Le'}}</dd>
          </dl>
          <dl class="row">
            <dt class="col-sm-4">Payment Date:</dt>
            <dd class="col-sm-8">{{payment.paymentDate | date: 'dd-MMM-yyyy'}}</dd>
          </dl>
        </div>
      </div>

    </div>

    <div class="col-lg-6 col-sm-12">
    </div>
  </div>

</div>
