<div class="tqp-crud-detail-edit animated fadeIn" *ngIf="student">

  <form [formGroup]="studentEditForm">

    <div class="row">
      <div class="col-sm-6">
        <h1 *ngIf="student && newRecord && studentEditForm.controls['studentSurname'].value == ''; else notShow">
          New Student
        </h1>
        <ng-template #notShow>
          <h1>
            <i class="fa fa-graduation-cap"></i>
            {{studentEditForm.controls['studentGivenName'].value}} {{studentEditForm.controls['studentSurname'].value}}
          </h1>
        </ng-template>
      </div>

    </div>

    <div class="row">
      <div class="col-lg-6 col-sm-12">

        <div class="card">
          <div class="card-header">
            <i class="fa fa-user"></i>
            Personal Information {{potentialDuplicateStudentFlag}}
          </div>
          <div class="card-body">

            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="studentGivenName">Given Name*</label>
                  <input matInput id="studentGivenName" type="text" class="form-control" placeholder="Given Name"
                         formControlName="studentGivenName" #studentGivenNameInputField>
                  <mat-error *ngFor="let validation of validationMessages.studentGivenName">
                    <mat-error class="error-message"
                               *ngIf="studentEditForm.get('studentGivenName').hasError(validation.type)
                                && (studentEditForm.get('studentGivenName').dirty ||
                                studentEditForm.get('studentGivenName').touched)">
                      {{validation.message}}
                    </mat-error>
                  </mat-error>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="studentSurname">Surname*</label>
                  <input matInput id="studentSurname" type="text" class="form-control"
                         placeholder="Surname" formControlName="studentSurname" autocomplete="chrome-off">
                  <mat-error *ngFor="let validation of validationMessages.studentSurname">
                    <mat-error class="error-message"
                               *ngIf="studentEditForm.get('studentSurname').hasError(validation.type)
                                && (studentEditForm.get('studentSurname').dirty ||
                                studentEditForm.get('studentSurname').touched)">
                      {{validation.message}}
                    </mat-error>
                  </mat-error>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="studentDateOfBirth">Date of Birth*<small class="ml-2">(e.g. 02-Oct-1975)</small></label>
                  <input id="studentDateOfBirth" type="text" class="form-control" bsDatepicker
                         [bsConfig]="{dateInputFormat: 'DD-MMM-YYYY'}"
                         formControlName="studentDateOfBirth">
                  <mat-error *ngFor="let validation of validationMessages.studentDateOfBirth">
                    <mat-error class="error-message"
                               *ngIf="studentEditForm.get('studentDateOfBirth').hasError(validation.type)
                                && (studentEditForm.get('studentDateOfBirth').dirty ||
                                studentEditForm.get('studentDateOfBirth').touched)">
                      {{validation.message}}
                    </mat-error>
                  </mat-error>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="studentGender">Gender*</label>
                  <select id="studentGender" class="form-control" formControlName="studentGender">
                    <option value="">Pick a Gender</option>
                    <option value="M">Male</option>
                    <option value="F">Female</option>
                    <option value="O">Other</option>
                  </select>
                  <mat-error *ngFor="let validation of validationMessages.studentGender">
                    <mat-error class="error-message"
                               *ngIf="studentEditForm.get('studentGender').hasError(validation.type)
                                && (studentEditForm.get('studentGender').dirty ||
                                studentEditForm.get('studentGender').touched)">
                      {{validation.message}}
                    </mat-error>
                  </mat-error>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="studentSchool">School</label>
                  <input matInput id="studentSchool" type="text" class="form-control" placeholder="School"
                         formControlName="studentSchool">
                  <mat-error *ngFor="let validation of validationMessages.studentSchool">
                    <mat-error class="error-message"
                               *ngIf="studentEditForm.get('studentSchool').hasError(validation.type)
                                && (studentEditForm.get('studentSchool').dirty ||
                                studentEditForm.get('studentSchool').touched)">
                      {{validation.message}}
                    </mat-error>
                  </mat-error>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="schoolLevelTypeId">Select School Level*</label>
                  <select id="schoolLevelTypeId" class="form-control" formControlName="schoolLevelTypeId"
                          (change)="schoolLevelIdChanged($event)">
                    <option value=0>Select a School Level</option>
                    <option *ngFor="let schoolLevel of schoolLevelList" value="{{schoolLevel.schoolClassTypeId}}">
                      {{schoolLevel.schoolClassTypeName}}
                    </option>
                  </select>
                  <mat-error *ngFor="let validation of validationMessages.schoolLevelTypeId">
                    <mat-error class="error-message"
                               *ngIf="studentEditForm.get('schoolLevelTypeId').hasError(validation.type)
                                && (studentEditForm.get('schoolLevelTypeId').dirty ||
                                studentEditForm.get('schoolLevelTypeId').touched)">
                      {{validation.message}}
                    </mat-error>
                  </mat-error>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="classLevelTypeId">Class Level*</label>
                  <select id="classLevelTypeId" class="form-control" formControlName="classLevelTypeId">
                    <option value=0>Select a Class Level</option>
                    <option *ngFor="let classLevel of classLevelList" value="{{classLevel.schoolClassTypeId}}">
                      {{classLevel.schoolClassTypeName}}
                    </option>
                  </select>
                  <mat-error *ngFor="let validation of validationMessages.classLevelTypeId">
                    <mat-error class="error-message"
                               *ngIf="studentEditForm.get('classLevelTypeId').hasError(validation.type)
                                && (studentEditForm.get('classLevelTypeId').dirty ||
                                studentEditForm.get('classLevelTypeId').touched)">
                      {{validation.message}}
                    </mat-error>
                  </mat-error>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="classRepeatYearTypeId">Was this a repeat year?*</label>
                  <select id="classRepeatYearTypeId" class="form-control" formControlName="classRepeatYearTypeId">
                    <option value=0>Select a Response</option>
                    <option value=2>No</option>
                    <option value=1>Yes</option>
                  </select>
                  <mat-error *ngFor="let validation of validationMessages.classRepeatYearTypeId">
                    <mat-error class="error-message"
                               *ngIf="studentEditForm.get('classRepeatYearTypeId').hasError(validation.type)
                                && (studentEditForm.get('classRepeatYearTypeId').dirty ||
                                studentEditForm.get('classRepeatYearTypeId').touched)">
                      {{validation.message}}
                    </mat-error>
                  </mat-error>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="impairmentTypeId">Impairment</label>
                  <select id="impairmentTypeId" class="form-control" formControlName="impairmentTypeId">
                    <option value=0>Select Impairment</option>
                    <option *ngFor="let impairmentType of impairmentTypeList"
                            value="{{impairmentType.impairmentTypeId}}">
                      {{impairmentType.impairmentTypeName}}
                    </option>
                  </select>
                  <mat-error *ngFor="let validation of validationMessages.impairmentTypeId">
                    <mat-error class="error-message"
                               *ngIf="studentEditForm.get('impairmentTypeId').hasError(validation.type)
                                && (studentEditForm.get('impairmentTypeId').dirty ||
                                studentEditForm.get('impairmentTypeId').touched)">
                      {{validation.message}}
                    </mat-error>
                  </mat-error>
                </div>
              </div>
            </div>

          </div>

          <div class="card-footer">
            <button type="button" class="btn btn-primary float-right" (click)="save()"
                    [disabled]="!studentEditForm.valid">
              <i class="fa fa-save mr-2"></i>Save
            </button>
            <button type="button" class="btn btn-secondary" (click)="cancel()">
              <i class="fa fa-ban mr-2"></i>Cancel
            </button>
            <button type="button" class="btn btn-danger" (click)="delete(student.studentId)">
              <i class="fa fa-trash-o mr-2"></i>Delete
            </button>
          </div>

        </div>

      </div>

      <div class="col-lg-6 col-sm-12">

      </div>
    </div>

  </form>

</div>
