<div class="tqp-crud-detail animated fadeIn" *ngIf="user">

  <div class="row">
    <div class="col-sm-6">
      <h1>
        <i class="fa fa-address-card"></i>
        {{user.givenName}} {{user.surname}}
      </h1>
    </div>
    <div class="col-sm-6">
      <div class="form-group float-right">
        <button class="btn btn-sm btn-outline-primary ml-3" (click)="openChangePasswordDialog()" style="width: 150px">
          Change My Password
        </button>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-user"></i>User Info
        </div>
        <div class="card-body">
          <dl class="row">
            <dt class="col-sm-3">Username:</dt>
            <dd class="col-sm-9">{{user.username}}</dd>
          </dl>
          <dl class="row">
            <dt class="col-sm-3">Surname:</dt>
            <dd class="col-sm-9">{{user.surname}}</dd>
          </dl>
          <dl class="row">
            <dt class="col-sm-3">Given Name:</dt>
            <dd class="col-sm-9">{{user.givenName}}</dd>
          </dl>
          <dl class="row">
            <dt class="col-sm-3">Roles:</dt>
            <dd class="col-sm-9">
              <span *ngFor="let role of user.roles | slice:0:100; let $last=last">
                {{role.roleName}}<span *ngIf="!$last">, </span>
              </span>
            </dd>
            <!--
            <dd class="col-sm-9">
              <span *ngFor="let role of user.roles | slice:0:4; let $last=last">
                {{role.name}}<span *ngIf="!$last">, </span>
              </span>
            </dd>
            -->
          </dl>
          <dl class="row">
            <dt class="col-sm-3">Status:</dt>
            <dd class="col-sm-9">{{statusTranslate[user.status]}}</dd>
          </dl>
          <dl class="row">
            <dt class="col-sm-3">Last Login:</dt>
            <dd class="col-sm-9">{{user.lastLogin | date:'dd-MMM-yyyy h:mm:ss a' | uppercase}}</dd>
          </dl>
          <dl class="row">
            <dt class="col-sm-3">Login Count:</dt>
            <dd class="col-sm-9">{{user.loginCount}}</dd>
          </dl>
          <dl class="row">
            <dt class="col-sm-3">Password Set:</dt>
            <dd class="col-sm-9">
              <span *ngIf="user.password; else noPasswordSet;">
                Yes
              </span>
              <ng-template #noPasswordSet>
                <span class="text-danger">No Password Set</span>
              </ng-template>
            </dd>
          </dl>
          <dl class="row">
            <dt class="col-sm-3">Password Set Date:</dt>
            <dd class="col-sm-9">
              <span *ngIf="user.passwordSet; else noPasswordDate;">
                {{user.passwordSet | date:'dd-MMM-yyyy h:mm:ss a' | uppercase}}
              </span>
              <ng-template #noPasswordDate>
                <span class="text-danger">No Password Date</span>
              </ng-template>
            </dd>
          </dl>
          <dl class="row">
            <dt class="col-sm-3">User ID:</dt>
            <dd class="col-sm-9">{{('00000' + user.userId).slice(-5)}}</dd>
          </dl>
          <dl class="row">
            <dt class="col-sm-3">Created:</dt>
            <dd class="col-sm-9">{{user.createdOn}} by {{user.createdBy}}</dd>
          </dl>
          <dl class="row">
            <dt class="col-sm-3">Updated:</dt>
            <dd class="col-sm-9">{{user.updatedOn}} by {{user.updatedBy}}</dd>
          </dl>
        </div>
      </div>

      <div class="card" *ngIf="decodedToken">
        <div class="card-header">
          <i class="fa fa-key"></i>Token Info
        </div>
        <div class="card-body">
          <dl class="row">
            <dt class="col-sm-3">Subject:</dt>
            <dd class="col-sm-9">{{decodedToken.sub}}</dd>
          </dl>
          <dl class="row">
            <dt class="col-sm-3">Issued At:</dt>
            <dd class="col-sm-9">{{decodedToken.iatText}}</dd>
          </dl>
          <dl class="row">
            <dt class="col-sm-3">Expiration:</dt>
            <dd class="col-sm-9">{{decodedToken.expText}}</dd>
          </dl>
          <dl class="row">
            <dt class="col-sm-3">Authorities:</dt>
            <dd class="col-sm-9">{{decodedToken.authorities}}</dd>
          </dl>
          <dl class="row">
            <dt class="col-sm-3">Raw Token:</dt>
            <dd class="col-sm-9">
              {{decodedToken.rawToken}}
            </dd>
          </dl>
          <!--
          <dl class="row">
            <dt class="col-sm-3">Token in Local Storage:</dt>
            <dd class="col-sm-9">
              {{tokenService.getToken()}}
            </dd>
          </dl>
          -->
        </div>
      </div>

      <div class="card">
        <div class="card-header">
          <i class="fa fa-exchange"></i>Diagnostics
        </div>
        <div class="card-body">
          <dl class="row">
            <dt class="col-sm-3">Open Access:</dt>
            <dd class="col-sm-9">
              <i class="fa fa-close text-danger" *ngIf="openTestResult === 'Blocked'"></i>
              <i class="fa fa-check text-success" *ngIf="openTestResult !== 'Blocked'"></i>
              {{openTestResult}}
            </dd>
          </dl>
          <dl class="row">
            <dt class="col-sm-3">User Access:</dt>
            <dd class="col-sm-9">
              <i class="fa fa-close text-danger" *ngIf="userTestResult === 'Blocked'"></i>
              <i class="fa fa-check text-success" *ngIf="userTestResult !== 'Blocked'"></i>
              {{userTestResult}}
            </dd>
          </dl>
          <dl class="row">
            <dt class="col-sm-3">Manager Access:</dt>
            <dd class="col-sm-9">
              <i class="fa fa-close text-danger" *ngIf="managerTestResult === 'Blocked'"></i>
              <i class="fa fa-check text-success" *ngIf="managerTestResult !== 'Blocked'"></i>
              {{managerTestResult}}
            </dd>
          </dl>
          <dl class="row">
            <dt class="col-sm-3">Admin Access:</dt>
            <dd class="col-sm-9">
              <i class="fa fa-close text-danger" *ngIf="adminTestResult === 'Blocked'"></i>
              <i class="fa fa-check text-success" *ngIf="adminTestResult !== 'Blocked'"></i>
              {{adminTestResult}}
            </dd>
          </dl>
          <dl class="row">
            <dt class="col-sm-3">Developer Access:</dt>
            <dd class="col-sm-9">
              <i class="fa fa-close text-danger" *ngIf="developerTestResult === 'Blocked'"></i>
              <i class="fa fa-check text-success" *ngIf="developerTestResult !== 'Blocked'"></i>
              {{developerTestResult}}
            </dd>
          </dl>

        </div>
      </div>

      <div class="card">
        <div class="card-header">
          <i class="fa fa-exchange"></i>Miscellaneous Stuff
        </div>
        <div class="card-body">
          <dl class="row">
            <dt class="col-sm-3">Screen Width:</dt>
            <dd class="col-sm-9">
              {{screenWidth}}x{{screenHeight}}
            </dd>
          </dl>
        </div>
      </div>

    </div>
  </div>
</div>
