<div class="tqp-crud-detail animated fadeIn" *ngIf="user">

  <div class="row">
    <div class="col-sm-6">
      <h1>
        <i class="fa fa-address-card"></i>
        {{user.userGivenName}} {{user.userSurname}}
      </h1>
    </div>
    <div class="col-sm-6">
      <div class="form-group float-right">
        <button class="btn btn-sm btn-outline-primary ml-3" (click)="openChangePasswordDialog()" style="width: 150px">
          Change My Password
        </button>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-user"></i>UserModel Info
        </div>
        <div class="card-body">
          <dl class="row">
            <dt class="col-sm-4">Username:</dt>
            <dd class="col-sm-8">{{user.userUsername}}</dd>
          </dl>
          <dl class="row">
            <dt class="col-sm-4">Surname:</dt>
            <dd class="col-sm-8">{{user.userSurname}}</dd>
          </dl>
          <dl class="row">
            <dt class="col-sm-4">Given Name:</dt>
            <dd class="col-sm-8">{{user.userGivenName}}</dd>
          </dl>
          <dl class="row">
            <dt class="col-sm-4">Roles:</dt>
            <dd class="col-sm-8">
              <span *ngFor="let role of user.roles | slice:0:100; let $last=last">
                {{role.roleName}}<span *ngIf="!$last">, </span>
              </span>
            </dd>
            <!--
            <dd class="col-sm-8">
              <span *ngFor="let role of user.roles | slice:0:4; let $last=last">
                {{role.name}}<span *ngIf="!$last">, </span>
              </span>
            </dd>
            -->
          </dl>
          <dl class="row">
            <dt class="col-sm-4">Status:</dt>
            <dd class="col-sm-8">{{statusTranslate[user.status]}}</dd>
          </dl>
          <dl class="row">
            <dt class="col-sm-4">Last Login:</dt>
            <dd class="col-sm-8">{{user.lastLogin | date:'dd-MMM-yyyy h:mm:ss a'}}</dd>
          </dl>
          <dl class="row">
            <dt class="col-sm-4">Login Count:</dt>
            <dd class="col-sm-8">{{user.loginCount}}</dd>
          </dl>
          <dl class="row">
            <dt class="col-sm-4">Password Set:</dt>
            <dd class="col-sm-8">
              <span *ngIf="user.password; else noPasswordSet;">
                Yes
              </span>
              <ng-template #noPasswordSet>
                <span class="text-danger">No Password Set</span>
              </ng-template>
            </dd>
          </dl>
          <dl class="row">
            <dt class="col-sm-4">Password Set Date:</dt>
            <dd class="col-sm-8">
              <span *ngIf="user.passwordSet; else noPasswordDate;">
                {{user.passwordSet | date:'dd-MMM-yyyy h:mm:ss a'}}
              </span>
              <ng-template #noPasswordDate>
                <span class="text-danger">No Password Date</span>
              </ng-template>
            </dd>
          </dl>
          <dl class="row">
            <dt class="col-sm-4">UserModel ID:</dt>
            <dd class="col-sm-8">{{('00000' + user.userId).slice(-5)}}</dd>
          </dl>
          <dl class="row">
            <dt class="col-sm-4">Created:</dt>
            <dd class="col-sm-8">{{user.createdOn}} by {{user.createdBy}}</dd>
          </dl>
          <dl class="row">
            <dt class="col-sm-4">Updated:</dt>
            <dd class="col-sm-8">{{user.updatedOn}} by {{user.updatedBy}}</dd>
          </dl>
        </div>
      </div>

      <div class="card" *ngIf="decodedToken">
        <div class="card-header">
          <i class="fa fa-key"></i>Token Info
        </div>
        <div class="card-body">
          <dl class="row">
            <dt class="col-sm-4">Subject:</dt>
            <dd class="col-sm-8">{{decodedToken.sub}}</dd>
          </dl>
          <dl class="row">
            <dt class="col-sm-4">Issued At:</dt>
            <dd class="col-sm-8">{{decodedToken.iatText}}</dd>
          </dl>
          <dl class="row">
            <dt class="col-sm-4">Expiration:</dt>
            <dd class="col-sm-8">{{decodedToken.expText}}</dd>
          </dl>
          <dl class="row">
            <dt class="col-sm-4">Authorities:</dt>
            <dd class="col-sm-8">{{decodedToken.authorities}}</dd>
          </dl>
          <dl class="row">
            <dt class="col-sm-4">Raw Token:</dt>
            <dd class="col-sm-8">
              {{decodedToken.rawToken}}
            </dd>
          </dl>
          <!--
          <dl class="row">
            <dt class="col-sm-4">Token in Local Storage:</dt>
            <dd class="col-sm-8">
              {{tokenService.getToken()}}
            </dd>
          </dl>
          -->
        </div>
      </div>

      <div class="card">
        <div class="card-header">
          <i class="fa fa-exchange"></i>Access Control Diagnostics
        </div>
        <div class="card-body">

          <dl class="row">
            <dt class="col-sm-4">Open Access:</dt>
            <dd class="col-sm-8">
              <i class="fa fa-close text-danger" *ngIf="openTestResult === 'Blocked'"></i>
              <i class="fa fa-check text-success" *ngIf="openTestResult !== 'Blocked'"></i>
              {{openTestResult}}
            </dd>
          </dl>

          <dl class="row">
            <dt class="col-sm-4">Edit My Information:</dt>
            <dd class="col-sm-8">
              <i class="fa fa-close text-danger" *ngIf="userTestResult === 'Blocked'"></i>
              <i class="fa fa-check text-success" *ngIf="userTestResult !== 'Blocked'"></i>
              {{userTestResult}}
            </dd>
          </dl>

          <br/>

          <dl class="row">
            <dt class="col-sm-4">Add Students:</dt>
            <dd class="col-sm-8">
              <i class="fa fa-close text-danger" *ngIf="userTestResult === 'Blocked'"></i>
              <i class="fa fa-check text-success" *ngIf="userTestResult !== 'Blocked'"></i>
              {{userTestResult}}
            </dd>
          </dl>

          <dl class="row">
            <dt class="col-sm-4">View All Students:</dt>
            <dd class="col-sm-8">
              <i class="fa fa-close text-danger" *ngIf="userTestResult === 'Blocked'"></i>
              <i class="fa fa-check text-success" *ngIf="userTestResult !== 'Blocked'"></i>
              {{userTestResult}}
            </dd>
          </dl>

          <dl class="row">
            <dt class="col-sm-4">Edit All Students:</dt>
            <dd class="col-sm-8">
              <i class="fa fa-close text-danger" *ngIf="userTestResult === 'Blocked'"></i>
              <i class="fa fa-check text-success" *ngIf="userTestResult !== 'Blocked'"></i>
              {{userTestResult}}
            </dd>
          </dl>

          <dl class="row">
            <dt class="col-sm-4">Edit Only My Students:</dt>
            <dd class="col-sm-8">
              <i class="fa fa-close text-danger" *ngIf="userTestResult === 'Blocked'"></i>
              <i class="fa fa-check text-success" *ngIf="userTestResult !== 'Blocked'"></i>
              {{userTestResult}}
            </dd>
          </dl>

          <dl class="row">
            <dt class="col-sm-4">Delete Students:</dt>
            <dd class="col-sm-8">
              <i class="fa fa-close text-danger" *ngIf="userTestResult === 'Blocked'"></i>
              <i class="fa fa-check text-success" *ngIf="userTestResult !== 'Blocked'"></i>
              {{userTestResult}}
            </dd>
          </dl>

          <br/>

          <dl class="row">
            <dt class="col-sm-4">Add Caregiver:</dt>
            <dd class="col-sm-8">
              <i class="fa fa-close text-danger" *ngIf="userTestResult === 'Blocked'"></i>
              <i class="fa fa-check text-success" *ngIf="userTestResult !== 'Blocked'"></i>
              {{userTestResult}}
            </dd>
          </dl>

          <dl class="row">
            <dt class="col-sm-4">View All Caregivers:</dt>
            <dd class="col-sm-8">
              <i class="fa fa-close text-danger" *ngIf="userTestResult === 'Blocked'"></i>
              <i class="fa fa-check text-success" *ngIf="userTestResult !== 'Blocked'"></i>
              {{userTestResult}}
            </dd>
          </dl>

          <dl class="row">
            <dt class="col-sm-4">Edit All Caregivers:</dt>
            <dd class="col-sm-8">
              <i class="fa fa-close text-danger" *ngIf="userTestResult === 'Blocked'"></i>
              <i class="fa fa-check text-success" *ngIf="userTestResult !== 'Blocked'"></i>
              {{userTestResult}}
            </dd>
          </dl>

          <dl class="row">
            <dt class="col-sm-4">Edit Only My Caregivers:</dt>
            <dd class="col-sm-8">
              <i class="fa fa-close text-danger" *ngIf="userTestResult === 'Blocked'"></i>
              <i class="fa fa-check text-success" *ngIf="userTestResult !== 'Blocked'"></i>
              {{userTestResult}}
            </dd>
          </dl>

          <dl class="row">
            <dt class="col-sm-4">Delete Caregivers:</dt>
            <dd class="col-sm-8">
              <i class="fa fa-close text-danger" *ngIf="userTestResult === 'Blocked'"></i>
              <i class="fa fa-check text-success" *ngIf="userTestResult !== 'Blocked'"></i>
              {{userTestResult}}
            </dd>
          </dl>

          <br/>

          <dl class="row">
            <dt class="col-sm-4">Add Case Manager:</dt>
            <dd class="col-sm-8">
              <i class="fa fa-close text-danger" *ngIf="userTestResult === 'Blocked'"></i>
              <i class="fa fa-check text-success" *ngIf="userTestResult !== 'Blocked'"></i>
              {{userTestResult}}
            </dd>
          </dl>

          <dl class="row">
            <dt class="col-sm-4">View All Case Mangers:</dt>
            <dd class="col-sm-8">
              <i class="fa fa-close text-danger" *ngIf="userTestResult === 'Blocked'"></i>
              <i class="fa fa-check text-success" *ngIf="userTestResult !== 'Blocked'"></i>
              {{userTestResult}}
            </dd>
          </dl>

          <dl class="row">
            <dt class="col-sm-4">Edit All Case Managers:</dt>
            <dd class="col-sm-8">
              <i class="fa fa-close text-danger" *ngIf="userTestResult === 'Blocked'"></i>
              <i class="fa fa-check text-success" *ngIf="userTestResult !== 'Blocked'"></i>
              {{userTestResult}}
            </dd>
          </dl>

          <dl class="row">
            <dt class="col-sm-4">Delete Case Managers:</dt>
            <dd class="col-sm-8">
              <i class="fa fa-close text-danger" *ngIf="userTestResult === 'Blocked'"></i>
              <i class="fa fa-check text-success" *ngIf="userTestResult !== 'Blocked'"></i>
              {{userTestResult}}
            </dd>
          </dl>

          <br/>

          <dl class="row">
            <dt class="col-sm-4">View Reports:</dt>
            <dd class="col-sm-8">
              <i class="fa fa-close text-danger" *ngIf="userTestResult === 'Blocked'"></i>
              <i class="fa fa-check text-success" *ngIf="userTestResult !== 'Blocked'"></i>
              {{userTestResult}}
            </dd>
          </dl>

          <dl class="row">
            <dt class="col-sm-4">View and Edit Finance:</dt>
            <dd class="col-sm-8">
              <i class="fa fa-close text-danger" *ngIf="userTestResult === 'Blocked'"></i>
              <i class="fa fa-check text-success" *ngIf="userTestResult !== 'Blocked'"></i>
              {{userTestResult}}
            </dd>
          </dl>

          <br/>

          <dl class="row">
            <dt class="col-sm-4">Manage Users:</dt>
            <dd class="col-sm-8">
              <i class="fa fa-close text-danger" *ngIf="userTestResult === 'Blocked'"></i>
              <i class="fa fa-check text-success" *ngIf="userTestResult !== 'Blocked'"></i>
              {{userTestResult}}
            </dd>
          </dl>

          <dl class="row">
            <dt class="col-sm-4">Admin:</dt>
            <dd class="col-sm-8">
              <i class="fa fa-close text-danger" *ngIf="userTestResult === 'Blocked'"></i>
              <i class="fa fa-check text-success" *ngIf="userTestResult !== 'Blocked'"></i>
              {{userTestResult}}
            </dd>
          </dl>

        </div>
      </div>

      <div class="card">
        <div class="card-header">
          <i class="fa fa-exchange"></i>Miscellaneous Stuff
        </div>
        <div class="card-body">
          <dl class="row">
            <dt class="col-sm-4">Screen Width:</dt>
            <dd class="col-sm-8">
              {{screenWidth}}x{{screenHeight}}
            </dd>
          </dl>
        </div>
      </div>

    </div>
  </div>
</div>
