<div class="tqp-crud-detail animated fadeIn" *ngIf="caseManager">

  <div class="row">
    <div class="col-sm-6">
      <h1>
        <i class="fa fa-folder-o"></i>
        {{caseManager.caseManagerSurname}}, {{caseManager.caseManagerGivenName}}
      </h1>
    </div>
    <div class="col-sm-6">
      <div class="form-group float-right">
        <button class="btn btn-sm btn-outline-primary ml-3" (click)="collapseAllLists()">
          Collapse All Lists
        </button>
        <button class="btn btn-sm btn-outline-primary ml-3" (click)="returnToList()">
          Case Manager List
        </button>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6 col-sm-12">

      <div class="card">
        <div class="card-header">
          <i class="fa fa-user"></i>
          Personal Information
          <i *ngIf="caseManagerLoading" class="fa fa-spinner fa-spin"></i>
          <div class="card-header-actions"
               [hidden]="authService.hiddenBasedOnRoles('ROLE_EDIT, ROLE_ADMIN', 'Edit Case Manager Info')">
            <small class="tqp-nav-link" (click)="openEditPage();">Edit Case Manager Info</small>
          </div>
        </div>
        <div class="card-body">
          <dl class="row">
            <dt class="col-sm-4">Last Name:</dt>
            <dd class="col-sm-8">{{caseManager.caseManagerSurname}}</dd>
          </dl>
          <dl class="row">
            <dt class="col-sm-4">First Name:</dt>
            <dd class="col-sm-8">{{caseManager.caseManagerGivenName}}</dd>
          </dl>
          <dl class="row">
            <dt class="col-sm-4">Home Address:</dt>
            <dd class="col-sm-8">{{caseManager.caseManagerAddress}}</dd>
          </dl>
          <dl class="row">
            <dt class="col-sm-4">Primary Phone:</dt>
            <dd class="col-sm-8">{{caseManager.caseManagerPhone}}</dd>
          </dl>
          <dl class="row">
            <dt class="col-sm-4">Email Address:</dt>
            <dd class="col-sm-8">{{caseManager.caseManagerEmail}}</dd>
          </dl>
        </div>
      </div>

    </div>


    <div class="col-lg-6 col-sm-12">

      <div class="card tqp-crud-detail-list">
        <div class="card-header" (click)="studentListIsCollapsed = !studentListIsCollapsed">
          Associated Students<span class="badge badge-secondary ml-2">{{studentListDataSource.length}}</span>
          <div class="card-header-actions">
            <i class="fa fa-bars" [@rotateIcon]="studentListIsCollapsed ? 'default' : 'rotated'"></i>
          </div>
        </div>
        <div class="card-body" [collapse]="studentListIsCollapsed">
          <div class="table-container">

            <table mat-table class="table table-sm" [dataSource]="studentListDataSource"
                   *ngIf="studentListDataSource && studentListDataSource.length > 0">

              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef>Student Name</th>
                <td mat-cell *matCellDef="let row">
                  <a [routerLink]="['/students/student-detail', row.studentId]">
                    {{row.studentGivenName}} {{row.studentSurname}}
                  </a>
                </td>
              </ng-container>

              <ng-container matColumnDef="relationshipStartDate">
                <th mat-header-cell *matHeaderCellDef>Assignment Date</th>
                <td mat-cell *matCellDef="let row">
                  {{row.relationshipStartDate | date: 'dd-MMM-yyyy'}}
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="studentListDisplayedColumns; sticky: true" [hidden]="true"></tr>
              <tr mat-row *matRowDef="let row; columns: studentListDisplayedColumns;"></tr>
            </table>

            <div class="no-records" *ngIf="studentListDataSource && studentListDataSource.length <= 0">
              No Records Found
            </div>

          </div>

        </div>
      </div>

      <div class="card tqp-crud-detail-list">
        <div class="card-header" (click)="csiListIsCollapsed = !csiListIsCollapsed">
          CSI Records Submitted<span class="badge badge-secondary ml-2">{{csiListDataSource.length}}</span>
          <div class="card-header-actions">
            <i class="fa fa-bars" [@rotateIcon]="csiListIsCollapsed ? 'default' : 'rotated'"></i>
          </div>
        </div>
        <div class="card-body" [collapse]="csiListIsCollapsed">

          <div class="table-container">

            <table mat-table [dataSource]="csiListDataSource" *ngIf="csiListDataSource && csiListDataSource.length > 0"
                   matSort matSortActive="lastName" matSortDirection="asc" matSortDisableClear="true"
                   class="table">

              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef>Student Name</th>
                <td mat-cell *matCellDef="let row">
                  <a [routerLink]="['/students/student-detail', row.studentId]">
                    {{row.studentGivenName}} {{row.studentSurname}}
                  </a>
                </td>
              </ng-container>

              <ng-container matColumnDef="csiDate">
                <th mat-header-cell *matHeaderCellDef>CSI Date</th>
                <td mat-cell *matCellDef="let row">
                  <a [routerLink]="['/csi/csi-detail', row.csiId]">
                    {{row.csiDate | date: 'dd-MMM-yyyy'}}
                  </a>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="csiListDisplayedColumns; sticky: true" [hidden]="false"></tr>
              <tr mat-row *matRowDef="let row; columns: csiListDisplayedColumns;"></tr>
            </table>

            <div class="no-records" *ngIf="csiListDataSource && csiListDataSource.length <= 0">
              No records to display.
            </div>

          </div>

        </div>
      </div>

      <div class="card tqp-crud-detail-list">
        <div class="card-header" (click)="qualificationListIsCollapsed = !qualificationListIsCollapsed">
          Trainings & Qualifications<span
          class="badge badge-secondary ml-2">{{qualificationListDataSource.length}}</span>
          <div class="card-header-actions">
            <i class="fa fa-bars" [@rotateIcon]="qualificationListIsCollapsed ? 'default' : 'rotated'"></i>
          </div>
        </div>
        <div class="card-body" [collapse]="qualificationListIsCollapsed">

          <div class="table-container">

            <table mat-table [dataSource]="qualificationListDataSource"
                   *ngIf="qualificationListDataSource && qualificationListDataSource.length > 0"
                   matSort matSortActive="lastName" matSortDirection="asc" matSortDisableClear="true"
                   class="table">

              <ng-container matColumnDef="caseManagerQualificationId">
                <th mat-header-cell *matHeaderCellDef>ID</th>
                <td mat-cell *matCellDef="let row">
                  {{row.caseManagerQualificationId}}
                </td>
              </ng-container>

              <ng-container matColumnDef="qualificationInstitution">
                <th mat-header-cell *matHeaderCellDef>Institution</th>
                <td mat-cell *matCellDef="let row">
                  {{row.qualificationInstitution}}
                </td>
              </ng-container>

              <ng-container matColumnDef="qualificationName">
                <th mat-header-cell *matHeaderCellDef>Qualification</th>
                <td mat-cell *matCellDef="let row">
                  {{row.qualificationName}}
                </td>
              </ng-container>

              <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let row"
                    [hidden]="authService.hiddenBasedOnRoles('ROLE_EDIT, ROLE_ADMIN', 'Edit Caregiver-Workshop')">
                  <i class="fa fa-edit"
                     (click)="openCaseManagerQualificationCreateDialog(this.caseManager.caseManagerId, row.caseManagerQualificationId)"
                     style="cursor: pointer;"></i>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="qualificationListDisplayedColumns; sticky: true"
                  [hidden]="false"></tr>
              <tr mat-row *matRowDef="let row; columns: qualificationListDisplayedColumns;"></tr>
            </table>

            <div class="no-records" *ngIf="qualificationListDataSource && qualificationListDataSource.length <= 0">
              No records to display.
            </div>

          </div>

        </div>
      </div>

    </div>

  </div>

</div>
