<div class="tqp-crud-detail-edit animated fadeIn" *ngIf="caregiver">

  <form [formGroup]="caregiverEditForm">

    <div class="row">

      <div class="col-sm-6">
        <h1 *ngIf="caregiver && newRecord && caregiverEditForm.controls['caregiverSurname'].value == ''; else notShow">
          New Caregiver
        </h1>
        <ng-template #notShow>
          <h1>
            {{caregiverEditForm.controls['caregiverSurname'].value}}, {{caregiverEditForm.controls['caregiverGivenName'].value}}
          </h1>
        </ng-template>
      </div>

      <div class="col-sm-6">
        <div class="form-group float-right">
          <button type="button" class="btn btn-sm btn-outline-danger" style="width: 100px;" *ngIf="!newRecord"
                  (click)="delete(caregiver.caregiverId)">
            <!--            [disabled]="authService.allowRoles('ROLE_ADMIN')"-->
            <u>D</u>elete
          </button>
          <button type="button" class="btn btn-sm btn-outline-success" style="width: 100px;" (click)="save()"
                  [disabled]="!caregiverEditForm.valid">
            <u>S</u>ave
          </button>
          <button type="button" class="btn btn-sm btn-outline-info ml-3" style="width: 100px;" (click)="cancel()">
            <u>C</u>ancel
          </button>
        </div>
      </div>

    </div>

    <div class="row">
      <div class="col-lg-6 col-sm-12">

        <div class="card">
          <div class="card-header">
            <i class="fa fa-user"></i>
            Personal Information
          </div>
          <div class="card-body">

            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="caregiverSurname">Surname</label>
                  <input matInput id="caregiverSurname" #caregiverSurnameInputField type="text" class="form-control" placeholder="Surname"
                         formControlName="caregiverSurname" autocomplete="chrome-off">
                  <mat-error *ngFor="let validation of validationMessages.caregiverSurname">
                    <mat-error class="error-message"
                               *ngIf="caregiverEditForm.get('caregiverSurname').hasError(validation.type)
                                && (caregiverEditForm.get('caregiverSurname').dirty ||
                                caregiverEditForm.get('caregiverSurname').touched)">
                      {{validation.message}}
                    </mat-error>
                  </mat-error>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="caregiverGivenName">Given Name</label>
                  <input matInput id="caregiverGivenName" type="text" class="form-control" placeholder="Given Name"
                         formControlName="caregiverGivenName">
                  <mat-error *ngFor="let validation of validationMessages.caregiverGivenName">
                    <mat-error class="error-message"
                               *ngIf="caregiverEditForm.get('caregiverGivenName').hasError(validation.type)
                                && (caregiverEditForm.get('caregiverGivenName').dirty ||
                                caregiverEditForm.get('caregiverGivenName').touched)">
                      {{validation.message}}
                    </mat-error>
                  </mat-error>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="caregiverAddress">Address</label>
                  <input matInput id="caregiverAddress" type="text" class="form-control" placeholder="Address"
                         formControlName="caregiverAddress">
                  <mat-error *ngFor="let validation of validationMessages.caregiverAddress">
                    <mat-error class="error-message"
                               *ngIf="caregiverEditForm.get('caregiverAddress').hasError(validation.type)
                                && (caregiverEditForm.get('caregiverAddress').dirty ||
                                caregiverEditForm.get('caregiverAddress').touched)">
                      {{validation.message}}
                    </mat-error>
                  </mat-error>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="caregiverPhone">Primary Phone</label>
                  <input matInput id="caregiverPhone" type="text" class="form-control" placeholder="Primary Phone"
                         formControlName="caregiverPhone">
                  <mat-error *ngFor="let validation of validationMessages.caregiverPhone">
                    <mat-error class="error-message"
                               *ngIf="caregiverEditForm.get('caregiverPhone').hasError(validation.type)
                                && (caregiverEditForm.get('caregiverPhone').dirty ||
                                caregiverEditForm.get('caregiverPhone').touched)">
                      {{validation.message}}
                    </mat-error>
                  </mat-error>
                </div>
              </div>
            </div>

          </div>
        </div>

      </div>

      <div class="col-lg-6 col-sm-12">

      </div>
    </div>

  </form>

</div>
