<div class="tqp-crud-detail-edit animated fadeIn" *ngIf="student">

  <form [formGroup]="studentEditForm">

    <div class="row">
      <div class="col-sm-6">
        <h1 *ngIf="student && newRecord && studentEditForm.controls['studentSurname'].value == ''; else notShow">
          New Student
        </h1>
        <ng-template #notShow>
          <h1>
            {{studentEditForm.controls['studentSurname'].value}}, {{studentEditForm.controls['studentGivenName'].value}}
          </h1>
        </ng-template>
      </div>

      <div class="col-sm-6">
        <div class="form-group float-right">
          <button type="button" class="btn btn-sm btn-outline-danger" style="width: 100px;" *ngIf="!newRecord"
                  (click)="delete(student.studentId)">
            <!--            [disabled]="authService.allowRoles('ROLE_ADMIN')"-->
            <u>D</u>elete
          </button>
          <button type="button" class="btn btn-sm btn-outline-success" style="width: 100px;" (click)="save()"
                  [disabled]="!studentEditForm.valid">
            <u>S</u>ave
          </button>
          <button type="button" class="btn btn-sm btn-outline-info ml-3" style="width: 100px;" (click)="cancel()">
            <u>C</u>ancel
          </button>
        </div>
      </div>

    </div>

    <div class="row">
      <div class="col-lg-6 col-sm-12">

        <div class="card">
          <div class="card-header">
            <i class="fa fa-user"></i>
            Personal Information
          </div>
          <div class="card-body">

            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="studentSurname">Surname*</label>
                  <input matInput id="studentSurname" #studentSurnameInputField type="text" class="form-control"
                         placeholder="Surname"
                         formControlName="studentSurname" autocomplete="chrome-off">
                  <mat-error *ngFor="let validation of validationMessages.studentSurname">
                    <mat-error class="error-message"
                               *ngIf="studentEditForm.get('studentSurname').hasError(validation.type)
                                && (studentEditForm.get('studentSurname').dirty ||
                                studentEditForm.get('studentSurname').touched)">
                      {{validation.message}}
                    </mat-error>
                  </mat-error>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="studentGivenName">Given Name*</label>
                  <input matInput id="studentGivenName" type="text" class="form-control" placeholder="Given Name"
                         formControlName="studentGivenName">
                  <mat-error *ngFor="let validation of validationMessages.studentGivenName">
                    <mat-error class="error-message"
                               *ngIf="studentEditForm.get('studentGivenName').hasError(validation.type)
                                && (studentEditForm.get('studentGivenName').dirty ||
                                studentEditForm.get('studentGivenName').touched)">
                      {{validation.message}}
                    </mat-error>
                  </mat-error>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="studentGender">Gender*</label>
                  <select id="studentGender" class="form-control" formControlName="studentGender">
                    <option value="">Pick a Gender</option>
                    <option value="M">Male</option>
                    <option value="F">Female</option>
                    <option value="O">Other</option>
                  </select>
                  <mat-error *ngFor="let validation of validationMessages.studentGender">
                    <mat-error class="error-message"
                               *ngIf="studentEditForm.get('studentGender').hasError(validation.type)
                                && (studentEditForm.get('studentGender').dirty ||
                                studentEditForm.get('studentGender').touched)">
                      {{validation.message}}
                    </mat-error>
                  </mat-error>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="studentDateOfBirth">Date of Birth*</label>
                  <input id="studentDateOfBirth" type="text" class="form-control" bsDatepicker
                         formControlName="studentDateOfBirth">
                  <mat-error *ngFor="let validation of validationMessages.studentDateOfBirth">
                    <mat-error class="error-message"
                               *ngIf="studentEditForm.get('studentDateOfBirth').hasError(validation.type)
                                && (studentEditForm.get('studentDateOfBirth').dirty ||
                                studentEditForm.get('studentDateOfBirth').touched)">
                      {{validation.message}}
                    </mat-error>
                  </mat-error>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="tierTypeGuid">Support Tier*</label>
                  <select id="tierTypeGuid" class="form-control" formControlName="tierTypeGuid">
                    <option value="">Pick a Tier</option>
                    <option *ngFor="let tierType of tierTypeList" value="{{tierType.tierTypeGuid}}">
                      {{tierType.tierTypeName}}
                    </option>
                  </select>
                  <mat-error *ngFor="let validation of validationMessages.tierTypeGuid">
                    <mat-error class="error-message"
                               *ngIf="studentEditForm.get('tierTypeGuid').hasError(validation.type)
                                && (studentEditForm.get('tierTypeGuid').dirty ||
                                studentEditForm.get('tierTypeGuid').touched)">
                      {{validation.message}}
                    </mat-error>
                  </mat-error>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="studentSchool">School</label>
                  <input matInput id="studentSchool" type="text" class="form-control" placeholder="School"
                         formControlName="studentSchool">
                  <mat-error *ngFor="let validation of validationMessages.studentSchool">
                    <mat-error class="error-message"
                               *ngIf="studentEditForm.get('studentSchool').hasError(validation.type)
                                && (studentEditForm.get('studentSchool').dirty ||
                                studentEditForm.get('studentSchool').touched)">
                      {{validation.message}}
                    </mat-error>
                  </mat-error>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="studentGrade">Grade</label>
                  <input matInput id="studentGrade" type="text" class="form-control" placeholder="Grade"
                         formControlName="studentGrade">
                  <mat-error *ngFor="let validation of validationMessages.studentGrade">
                    <mat-error class="error-message"
                               *ngIf="studentEditForm.get('studentGrade').hasError(validation.type)
                                && (studentEditForm.get('studentGrade').dirty ||
                                studentEditForm.get('studentGrade').touched)">
                      {{validation.message}}
                    </mat-error>
                  </mat-error>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="studentAddress">Address</label>
                  <input matInput id="studentAddress" type="text" class="form-control" placeholder="Address"
                         formControlName="studentAddress">
                  <mat-error *ngFor="let validation of validationMessages.studentAddress">
                    <mat-error class="error-message"
                               *ngIf="studentEditForm.get('studentAddress').hasError(validation.type)
                                && (studentEditForm.get('studentAddress').dirty ||
                                studentEditForm.get('studentAddress').touched)">
                      {{validation.message}}
                    </mat-error>
                  </mat-error>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="studentPhone">Phone</label>
                  <input matInput id="studentPhone" type="text" class="form-control" placeholder="Phone"
                         formControlName="studentPhone">
                  <mat-error *ngFor="let validation of validationMessages.studentPhone">
                    <mat-error class="error-message"
                               *ngIf="studentEditForm.get('studentPhone').hasError(validation.type)
                                && (studentEditForm.get('studentPhone').dirty ||
                                studentEditForm.get('studentPhone').touched)">
                      {{validation.message}}
                    </mat-error>
                  </mat-error>
                </div>
              </div>
            </div>

          </div>
        </div>

      </div>

      <div class="col-lg-6 col-sm-12">

        <div class="card">
          <div class="card-header">
            <i class="fa fa-user"></i>
            Program Status
          </div>
          <div class="card-body">

            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="caregiverId">Caregiver ID</label>
                  <input matInput id="caregiverId" type="text" class="form-control" placeholder="Caregiver ID"
                         formControlName="caregiverId">
                  <mat-error *ngFor="let validation of validationMessages.caregiverId">
                    <mat-error class="error-message"
                               *ngIf="studentEditForm.get('caregiverId').hasError(validation.type)
                                && (studentEditForm.get('caregiverId').dirty ||
                                studentEditForm.get('caregiverId').touched)">
                      {{validation.message}}
                    </mat-error>
                  </mat-error>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="caregiverName">Caregiver Name</label>
                  <input matInput id="caregiverName" type="text" class="form-control" placeholder="Caregiver Name"
                         formControlName="caregiverName">
                  <mat-error *ngFor="let validation of validationMessages.caregiverName">
                    <mat-error class="error-message"
                               *ngIf="studentEditForm.get('caregiverName').hasError(validation.type)
                                && (studentEditForm.get('caregiverName').dirty ||
                                studentEditForm.get('caregiverName').touched)">
                      {{validation.message}}
                    </mat-error>
                  </mat-error>
                </div>
              </div>
            </div>

          </div>
        </div>

        <div class="card">
          <div class="card-header">
            <div class="float-left" style="line-height: 28px;">
              <i class="fa fa-calendar mr-2"></i>
              Relationships
            </div>
            <button type="button" class="btn btn-sm btn-outline-primary float-right" (click)="openStudentRelationshipEditDialog()"
                    style="cursor: pointer;">
              <u>A</u>dd Relationship
            </button>
          </div>
          <div class="card-body">

            <div class="table-container">

              <table mat-table [dataSource]="dataSource" *ngIf="dataSource && dataSource.length > 0"
                     matSort matSortActive="lastName" matSortDirection="asc" matSortDisableClear="true"
                     class="table">

                <ng-container matColumnDef="name">
                  <th mat-header-cell *matHeaderCellDef>Name</th>
                  <td mat-cell *matCellDef="let row">
                    <a [routerLink]="['/caregivers/caregiver-detail', row.personId]">
                      {{row.personGivenName}} {{row.personSurname}}
                    </a>
                  </td>
                </ng-container>

                <ng-container matColumnDef="relationship">
                  <th mat-header-cell *matHeaderCellDef>Relationship</th>
                  <td mat-cell *matCellDef="let row">
                    {{row.relationshipTypeName}}
                  </td>
                </ng-container>

                <ng-container matColumnDef="bloodRelative">
                  <th mat-header-cell *matHeaderCellDef>Blood Relative</th>
                  <td mat-cell *matCellDef="let row">
                    {{row.relationshipBloodRelative ? 'Yes' : 'No'}}
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true" [hidden]="false"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>

              <div class="no-records" *ngIf="dataSource && dataSource.length <= 0">
                No records to display.
              </div>

            </div>

          </div>
        </div>

      </div>
    </div>

  </form>

</div>
