<h2 mat-dialog-title>
  {{dialogTitle}}
</h2>

<mat-dialog-content style="overflow: hidden">

  <form [formGroup]="relationshipEditForm">

    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <label for="studentId">Student ID</label>
          <input matInput id="studentId" type="text" class="form-control" placeholder="Student ID"
                 formControlName="studentId" autocomplete="chrome-off" readonly>
          <mat-error *ngFor="let validation of validationMessages.studentId">
            <mat-error class="error-message"
                       *ngIf="relationshipEditForm.get('studentId').hasError(validation.type)
                                && (relationshipEditForm.get('studentId').dirty ||
                                relationshipEditForm.get('studentId').touched)">
              {{validation.message}}
            </mat-error>
          </mat-error>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <label for="relationSurname">Surname</label>
          <input matInput id="relationSurname" type="text" class="form-control" placeholder="Surname"
                 formControlName="relationSurname" autocomplete="chrome-off" #relationSurnameField>
          <mat-error *ngFor="let validation of validationMessages.relationSurname">
            <mat-error class="error-message"
                       *ngIf="relationshipEditForm.get('relationSurname').hasError(validation.type)
                                && (relationshipEditForm.get('relationSurname').dirty ||
                                relationshipEditForm.get('relationSurname').touched)">
              {{validation.message}}
            </mat-error>
          </mat-error>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <label for="relationGivenName">Given Name</label>
          <input matInput id="relationGivenName" type="text" class="form-control" placeholder="Given Name"
                 formControlName="relationGivenName" autocomplete="chrome-off">
          <mat-error *ngFor="let validation of validationMessages.relationGivenName">
            <mat-error class="error-message"
                       *ngIf="relationshipEditForm.get('relationGivenName').hasError(validation.type)
                                && (relationshipEditForm.get('relationGivenName').dirty ||
                                relationshipEditForm.get('relationGivenName').touched)">
              {{validation.message}}
            </mat-error>
          </mat-error>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <label for="relationshipTypeId">Relationship Type*</label>
          <select id="relationshipTypeId" class="form-control" formControlName="relationshipTypeId">
            <option value=0>Pick a Relationship Type</option>
            <option *ngFor="let relationshipType of relationshipTypeList"
                    value="{{relationshipType.relationshipTypeId}}">
              {{relationshipType.relationshipTypeName}}
            </option>
          </select>
          <mat-error *ngFor="let validation of validationMessages.relationshipTypeId">
            <mat-error class="error-message"
                       *ngIf="relationshipEditForm.get('relationshipTypeId').hasError(validation.type)
                                && (relationshipEditForm.get('relationshipTypeId').dirty ||
                                relationshipEditForm.get('relationshipTypeId').touched)">
              {{validation.message}}
            </mat-error>
          </mat-error>
        </div>
      </div>
    </div>

  </form>

</mat-dialog-content>

<mat-dialog-actions>
  <button mat-raised-button mat-dialog-close>Cancel</button>
  <button mat-raised-button (click)="reset();">Reset</button>
  <div fxFlex></div>
  <button mat-raised-button mat-dialog-close color="primary" (click)="save();" [disabled]="!relationshipEditForm.valid">
    Save
  </button>
</mat-dialog-actions>
