<div class="animated fadeIn">

  <div class="card">

    <div class="card-header">
      <div class="float-left" style="line-height: 28px;">
        <i class="fa fa-user-circle-o mr-2"></i>
        Person Type List
        <span class="badge badge-info ml-2" *ngIf="totalRecords">Displaying {{dataSource.length}} of {{totalRecords}}
          records</span>
        <span class="badge badge-warning ml-2" style="cursor: pointer;" *ngIf="isFilterApplied" (click)="clearFilters()">Clear Filters</span>
      </div>

      <button class="btn btn-sm btn-outline-primary float-right" (click)="openPersonTypeCreatePage()">
        <i class="fa fa-plus mr-1"></i>
        Create New Person Type
      </button>
    </div>

    <div class="card-body">

      <div class="row mb-3">

        <div class="col-md-4 offset-md-8">

          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text"><i class="fa fa-search"></i></div>
            </div>
            <label for="nameSearchFieldId" *ngIf="false"></label>
            <input id="nameSearchFieldId" type="text" class="form-control mr-3" placeholder="Search"
                   [formControl]="personTypeNameSearchFormControl" #personTypeNameSearchElementRef autocomplete="chrome-off"/>
          </div>

        </div>
      </div>

      <div class="table-container" #tableContainer>

        <table mat-table [dataSource]="dataSource"
               matSort matSortActive="personTypeName" matSortDirection="asc" matSortDisableClear="true"
               class="table">

          <ng-container matColumnDef="personTypeId">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
            <td mat-cell *matCellDef="let row">{{row.personTypeId}}</td>
          </ng-container>

          <ng-container matColumnDef="personTypeName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Person Type</th>
            <td mat-cell *matCellDef="let row">{{row.personTypeName}}</td>
          </ng-container>

          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
            <td mat-cell *matCellDef="let row">
              <i class="fa fa-edit" (click)="openPersonTypeEditDialog(row)" style="cursor: pointer;"></i>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="openPersonTypeDetailPage(row);"></tr>
        </table>

        <mat-card class="spinner-container" *ngIf="isLoading">
          <mat-progress-spinner
            color="primary"
            mode="indeterminate">
          </mat-progress-spinner>
        </mat-card>

        <!--        <div style="width: 100%; padding: 8px;" *ngIf="dataSource && dataSource.length <= 0">-->
        <!--          No records to display.-->
        <!--        </div>-->

      </div>

    </div>
  </div>

</div>

