// Here you can add other styles

// Toastr
@import '~ngx-toastr/toastr.css';

// Custom CSS

app-login-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

table {
  width: 100%;
}

// Error Messages on Reactive Forms

.error-message {
  width: 100% !important;
  font-size: 90% !important;
  margin-left:  14px !important;
  color: rgb(248, 08, 107) !important;
}

// Overriding template animation settings

.animated {
  animation-duration: 200ms !important;
  // animation-fill-mode: both;
}

// Spinner

.spinner-container {
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: none;
}
