<div class="tqp-crud-detail-edit animated fadeIn" *ngIf="student">

  <form [formGroup]="studentEditForm">

    <div class="row">
      <div class="col-sm-6">
        <h1 *ngIf="student && newRecord && studentEditForm.controls['studentSurname'].value == ''; else notShow">
          New Student
        </h1>
        <ng-template #notShow>
          <h1>
            <i class="fa fa-graduation-cap"></i>
            {{studentEditForm.controls['studentSurname'].value}}, {{studentEditForm.controls['studentGivenName'].value}}
          </h1>
        </ng-template>
      </div>

      <div class="col-sm-6">
        <div class="form-group float-right">
          <button type="button" class="btn btn-sm btn-outline-danger" style="width: 100px;" *ngIf="!newRecord"
                  (click)="delete(student.studentId)">
            <!--            [disabled]="authService.allowRoles('ROLE_ADMIN')"-->
            <u>D</u>elete
          </button>
          <button type="button" class="btn btn-sm btn-outline-success" style="width: 100px;" (click)="save()"
                  [disabled]="!studentEditForm.valid">
            <u>S</u>ave
          </button>
          <button type="button" class="btn btn-sm btn-outline-info ml-3" style="width: 100px;" (click)="cancel()">
            <u>C</u>ancel
          </button>
        </div>
      </div>

    </div>

    <div class="row">
      <div class="col-lg-6 col-sm-12">

        <div class="card">
          <div class="card-header">
            <i class="fa fa-user"></i>
            Personal Information
          </div>
          <div class="card-body">

            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="studentSurname">Surname*</label>
                  <input matInput id="studentSurname" #studentSurnameInputField type="text" class="form-control"
                         placeholder="Surname"
                         formControlName="studentSurname" autocomplete="chrome-off">
                  <mat-error *ngFor="let validation of validationMessages.studentSurname">
                    <mat-error class="error-message"
                               *ngIf="studentEditForm.get('studentSurname').hasError(validation.type)
                                && (studentEditForm.get('studentSurname').dirty ||
                                studentEditForm.get('studentSurname').touched)">
                      {{validation.message}}
                    </mat-error>
                  </mat-error>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="studentGivenName">Given Name*</label>
                  <input matInput id="studentGivenName" type="text" class="form-control" placeholder="Given Name"
                         formControlName="studentGivenName">
                  <mat-error *ngFor="let validation of validationMessages.studentGivenName">
                    <mat-error class="error-message"
                               *ngIf="studentEditForm.get('studentGivenName').hasError(validation.type)
                                && (studentEditForm.get('studentGivenName').dirty ||
                                studentEditForm.get('studentGivenName').touched)">
                      {{validation.message}}
                    </mat-error>
                  </mat-error>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="studentGender">Gender*</label>
                  <select id="studentGender" class="form-control" formControlName="studentGender">
                    <option value="">Pick a Gender</option>
                    <option value="M">Male</option>
                    <option value="F">Female</option>
                    <option value="O">Other</option>
                  </select>
                  <mat-error *ngFor="let validation of validationMessages.studentGender">
                    <mat-error class="error-message"
                               *ngIf="studentEditForm.get('studentGender').hasError(validation.type)
                                && (studentEditForm.get('studentGender').dirty ||
                                studentEditForm.get('studentGender').touched)">
                      {{validation.message}}
                    </mat-error>
                  </mat-error>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="studentDateOfBirth">Date of Birth*</label>
                  <input id="studentDateOfBirth" type="text" class="form-control" bsDatepicker
                         formControlName="studentDateOfBirth">
                  <mat-error *ngFor="let validation of validationMessages.studentDateOfBirth">
                    <mat-error class="error-message"
                               *ngIf="studentEditForm.get('studentDateOfBirth').hasError(validation.type)
                                && (studentEditForm.get('studentDateOfBirth').dirty ||
                                studentEditForm.get('studentDateOfBirth').touched)">
                      {{validation.message}}
                    </mat-error>
                  </mat-error>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="schoolLevelId">Select School Level*</label>
                  <select id="schoolLevelId" class="form-control" formControlName="schoolLevelId"
                          (change)="schoolLevelIdChanged($event)">
                    <option value=0>Select a School Level</option>
                    <option *ngFor="let schoolLevel of schoolLevelList" value="{{schoolLevel.schoolClassTypeId}}">
                      {{schoolLevel.schoolClassTypeName}}
                    </option>
                  </select>
                  <mat-error *ngFor="let validation of validationMessages.schoolLevelId">
                    <mat-error class="error-message"
                               *ngIf="studentEditForm.get('schoolLevelId').hasError(validation.type)
                                && (studentEditForm.get('schoolLevelId').dirty ||
                                studentEditForm.get('schoolLevelId').touched)">
                      {{validation.message}}
                    </mat-error>
                  </mat-error>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="classLevelId">Class Level*</label>
                  <select id="classLevelId" class="form-control" formControlName="classLevelId">
                    <option value=0>Select a Class Level</option>
                    <option *ngFor="let classLevel of classLevelList" value="{{classLevel.schoolClassTypeId}}">
                      {{classLevel.schoolClassTypeName}}
                    </option>
                  </select>
                  <mat-error *ngFor="let validation of validationMessages.classLevelId">
                    <mat-error class="error-message"
                               *ngIf="studentEditForm.get('classLevelId').hasError(validation.type)
                                && (studentEditForm.get('classLevelId').dirty ||
                                studentEditForm.get('classLevelId').touched)">
                      {{validation.message}}
                    </mat-error>
                  </mat-error>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="impairmentTypeId">Impairment</label>
                  <select id="impairmentTypeId" class="form-control" formControlName="impairmentTypeId">
                    <option value=0>Select Impairment</option>
                    <option *ngFor="let impairmentType of impairmentTypeList" value="{{impairmentType.impairmentTypeId}}">
                      {{impairmentType.impairmentTypeName}}
                    </option>
                  </select>
                  <mat-error *ngFor="let validation of validationMessages.impairmentTypeId">
                    <mat-error class="error-message"
                               *ngIf="studentEditForm.get('impairmentTypeId').hasError(validation.type)
                                && (studentEditForm.get('impairmentTypeId').dirty ||
                                studentEditForm.get('impairmentTypeId').touched)">
                      {{validation.message}}
                    </mat-error>
                  </mat-error>
                </div>
              </div>
            </div>

          </div>
        </div>

      </div>

      <div class="col-lg-6 col-sm-12">

      </div>
    </div>

  </form>

</div>
