<div class="tqp-crud-detail-edit animated fadeIn" *ngIf="caregiver">

  <form [formGroup]="caregiverEditForm">

    <div class="row">

      <div class="col-sm-6">
        <h1 *ngIf="caregiver && newRecord && caregiverEditForm.controls['caregiverSurname'].value == ''; else notShow">
          New Caregiver
        </h1>
        <ng-template #notShow>
          <h1>
            <i class="fa fa-heartbeat"></i>
            {{caregiverEditForm.controls['caregiverGivenName'].value}} {{caregiverEditForm.controls['caregiverSurname'].value}}
          </h1>
        </ng-template>
      </div>

    </div>

    <div class="row">
      <div class="col-lg-6 col-sm-12">

        <div class="card">
          <div class="card-header">
            <i class="fa fa-user"></i>
            Personal Information
          </div>
          <div class="card-body">

            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="caregiverGivenName">First Name*</label>
                  <input matInput id="caregiverGivenName" type="text" class="form-control" placeholder="Given Name"
                         formControlName="caregiverGivenName">
                  <mat-error *ngFor="let validation of validationMessages.caregiverGivenName">
                    <mat-error class="error-message"
                               *ngIf="caregiverEditForm.get('caregiverGivenName').hasError(validation.type)
                                && (caregiverEditForm.get('caregiverGivenName').dirty ||
                                caregiverEditForm.get('caregiverGivenName').touched)">
                      {{validation.message}}
                    </mat-error>
                  </mat-error>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="caregiverSurname">Last Name*</label>
                  <input matInput id="caregiverSurname" #caregiverSurnameInputField type="text" class="form-control" placeholder="Surname"
                         formControlName="caregiverSurname" autocomplete="chrome-off">
                  <mat-error *ngFor="let validation of validationMessages.caregiverSurname">
                    <mat-error class="error-message"
                               *ngIf="caregiverEditForm.get('caregiverSurname').hasError(validation.type)
                                && (caregiverEditForm.get('caregiverSurname').dirty ||
                                caregiverEditForm.get('caregiverSurname').touched)">
                      {{validation.message}}
                    </mat-error>
                  </mat-error>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="caregiverAddress">Address</label>
                  <input matInput id="caregiverAddress" type="text" class="form-control" placeholder="Address"
                         formControlName="caregiverAddress">
                  <mat-error *ngFor="let validation of validationMessages.caregiverAddress">
                    <mat-error class="error-message"
                               *ngIf="caregiverEditForm.get('caregiverAddress').hasError(validation.type)
                                && (caregiverEditForm.get('caregiverAddress').dirty ||
                                caregiverEditForm.get('caregiverAddress').touched)">
                      {{validation.message}}
                    </mat-error>
                  </mat-error>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="caregiverPhone">Primary Phone</label>
                  <input matInput id="caregiverPhone" type="text" class="form-control" placeholder="Primary Phone"
                         formControlName="caregiverPhone">
                  <mat-error *ngFor="let validation of validationMessages.caregiverPhone">
                    <mat-error class="error-message"
                               *ngIf="caregiverEditForm.get('caregiverPhone').hasError(validation.type)
                                && (caregiverEditForm.get('caregiverPhone').dirty ||
                                caregiverEditForm.get('caregiverPhone').touched)">
                      {{validation.message}}
                    </mat-error>
                  </mat-error>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="caregiverEmail">Email Address</label>
                  <input matInput id="caregiverEmail" type="text" class="form-control" placeholder="Email Address"
                         formControlName="caregiverEmail">
                  <mat-error *ngFor="let validation of validationMessages.caregiverEmail">
                    <mat-error class="error-message"
                               *ngIf="caregiverEditForm.get('caregiverEmail').hasError(validation.type)
                                && (caregiverEditForm.get('caregiverEmail').dirty ||
                                caregiverEditForm.get('caregiverEmail').touched)">
                      {{validation.message}}
                    </mat-error>
                  </mat-error>
                </div>
              </div>
            </div>

          </div>

          <div class="card-footer">
            <button type="button" class="btn btn-primary float-right" (click)="save()"
                    [disabled]="!caregiverEditForm.valid">
              <i class="fa fa-save mr-2"></i>Save
            </button>
            <button type="button" class="btn btn-secondary" (click)="cancel()">
              <i class="fa fa-ban mr-2"></i>Cancel
            </button>
            <button type="button" class="btn btn-danger" (click)="delete(caregiver.caregiverId)">
              <i class="fa fa-trash-o mr-2"></i>Delete
            </button>
          </div>

        </div>

      </div>

      <div class="col-lg-6 col-sm-12">

      </div>
    </div>

  </form>

</div>
