<div class="tqp-crud-server-pagination-list animated fadeIn">

  <div class="card">

    <div class="card-header">
      <div class="float-left" style="line-height: 28px;">
        <i class="fa fa-money mr-2"></i>
        CSIs
        <span class="badge badge-info ml-2" *ngIf="loadedFirstPage">
          Displaying {{pageStart}} to {{pageEnd}} of {{totalRecords}} records</span>
        <span class="badge badge-warning ml-2" style="cursor: pointer" *ngIf="isFilterApplied" (click)="clearFilters()">Clear Filters</span>
      </div>
      <button class="btn btn-sm btn-outline-primary float-right" (click)="openCsiEditDialog()"
              [hidden]="authService.allowRoles('ROLE_CREATE, ROLE_ADMIN', 'Add Student CSI')">
        <i class="fa fa-plus mr-1"></i>
        Add Student CSI
      </button>
    </div>

    <div class="card-body">

      <div class="row mb-3">

        <div class="col-md-5">
          <mat-paginator class="paginator"
                         [length]="totalRecords" [pageSize]="pageSize" [hidePageSize]="true"
                         [showFirstLastButtons]="true"></mat-paginator>
        </div>

        <div class="col-md-5 offset-md-7">

          <div class="input-group">

            <div class="input-group-prepend">
              <div class="input-group-text"><i class="fa fa-search"></i></div>
            </div>
            <label for="nameSearchFieldId" *ngIf="false"></label>
            <input id="nameSearchFieldId" type="text" class="form-control" placeholder="Search by Csi"
                   [formControl]="caregiverListNameSearchFormControl" #nameSearchElementRef autocomplete="off"/>
          </div>

        </div>

      </div>

      <div class="table-container" #tableContainer>

        <table mat-table [dataSource]="dataSource"
               matSort matSortActive="caregiverSurname" matSortDirection="asc" matSortDisableClear="true"
               class="table table-striped">

          <ng-container matColumnDef="csiId">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>CSI ID</th>
            <td mat-cell *matCellDef="let row">{{row.csiId}}</td>
          </ng-container>

          <ng-container matColumnDef="csiDate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>CSI Date</th>
            <td mat-cell *matCellDef="let row">
              <a [routerLink]="['/csi/csi-detail', row.csiId]">
                {{row.csiDate | date: 'MM/dd/yyyy'}}
              </a>
            </td>
          </ng-container>

          <ng-container matColumnDef="studentName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Student</th>
            <td mat-cell *matCellDef="let row">
              <a [routerLink]="['/students/student-detail', row.studentId]">
                {{row.studentGivenName}} {{row.studentSurname}}
              </a>
            </td>
          </ng-container>

          <ng-container matColumnDef="caseManager">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Case Manager</th>
            <td mat-cell *matCellDef="let row">
              <a [routerLink]="['/case-managers/case-manager-detail', row.caseManagerId]">
                {{row.caseManagerGivenName}} {{row.caseManagerSurname}}
              </a>
            </td>
          </ng-container>

          <ng-container matColumnDef="csiType">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Csi Type</th>
            <td mat-cell *matCellDef="let row">{{row.csiTypeName}}</td>
          </ng-container>

          <ng-container matColumnDef="interactionType">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Interaction Type</th>
            <td mat-cell *matCellDef="let row">{{row.interactionTypeName}}</td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="openDetailPage(row);"></tr>
        </table>

        <mat-card class="spinner-container" *ngIf="isLoading">
          <mat-progress-spinner
            color="primary"
            mode="indeterminate">
          </mat-progress-spinner>
        </mat-card>

      </div>

    </div>
  </div>

</div>

